[2015-09-25 21:04] filfat opened #1 "iOS & windows support"
Great first attempt. Adding Windows (10) and iOs support would make this plugin useful in a production app.

Cheers.

[2015-09-25 21:17] filfat opened #3 "Support external images"
Having support for external images would be a great addition to this plugin.

[2015-09-25 21:20] filfat opened #4 "Notification shouldn't be dismiss-able"
Pretty much as the title says.

[2015-09-25 21:27] filfat opened #5 "Unload/load function(s)"
We should be able to destory/unload the controls when we don't need them anymore, and likewise if we would need it them again we should be able to create them again.

[2015-09-25 21:31] filfat opened #6 "Handle earphone buttons"
Most earphones comes with at least one button (1 for pause/play, 2 for next, 3 for previous) or three buttons. Having support for that would be great.

Cheers.

[2015-09-25 21:38] filfat opened #7 "[BUG] Controls stop responding after one action"
Alright here's what I did
[code]
The above code only works once then stops working.

Cheers.

[2015-09-27 12:47] homerours commented on #1
Thank you. I don't have a Mac so I won't be able to work on iOS support... I saw you developped a Windows 10 support, good job!

[2015-09-27 13:15] homerours commented on #4
Great work, merged your changes!

[2015-09-27 13:15] #4 closed

[2015-09-27 13:15] homerours commented on #6
I'm going to add support for that on android.

[2015-09-27 13:39] homerours commented on #7
You have to fire the listen function after each action.
A solution could be to save a user callback function in the MusicController JS object. Every time that this MusicController object gets a callback from native, it runs this function and reload the listening operation from itself. It would therefore avoid the user to do it himself.

[2015-09-27 14:39] #7 closed

[2015-09-27 15:29] #5 closed

[2015-09-27 15:32] #3 closed

[2015-09-27 20:41] homerours commented on #6
I added support for play/pause: 6c26f0be2c9fcc3cf6f48e4a4b4e687c3fee5676

[2015-09-27 20:58] #1 closed

[2015-10-02 21:28] igor9silva opened #10 "How do I actually use it?"
Hi,

I'm developing a music app with cordova.
The question may seem stupid but I can't figure out how to make it work.

I've tried this:
[code]

Then I created a button and linked it to a function which does ```.create()``` ```.subscribe()``` and ```listen()``` at the ```MusicControls``` variable. I've inspected it using chrome and ```MusicControls``` is correctly populated. The button click funct

[2015-10-03 10:02] homerours commented on #10
Hi!
Sorry, I think there were an error in the plugin.XML, I fixed it.
Can you remove remove the plugin:
`cordova plugin rm com.homerours.musiccontrols`
And reinstall it from github? I hope it will fix it ;)
I'm also developping a music app with cordova [here](https://github.com/homerours/cosmic) it might be intersting for you !

[2015-10-06 14:04] CoDEmanX commented on #6
Could you also add double-press support? Clicking twice the earphone button should skip to the next track.

[2015-10-06 14:07] CoDEmanX opened #11 "Use controls without media, for streamed media?"
Is it possible to somehow create the controls and indicate the duration of a medium, without specifying a media file?

This would be useful for applications that stream media on demand. It would allow the user to seek to an arbitrary position and a callback would send the requested position to the server, which would in turn seek to that position in the local media file and stream from there on.

[2015-10-06 16:30] homerours commented on #11
Hi,
There is no need to specify a music file to the plugin. This plugin is only displaying a notification with 3 buttons (and some informations), he's not playing a media file.

On Android, the "MediaStyle" notifications allow up to 5 buttons into one notification. But there is no available "seek or progress bar" available for notifications. That's why I think that it would be difficult to have on

[2015-10-06 17:02] homerours commented on #6
It doesn't "really" support double-press event: if you double-press the earphone button, it will fire the 'music-controls-headset-button' twice. From that, you can count the number of press within a time lapse (that you choose) and decide (on your own) if correspond to a double (or triple) press.

[2015-10-06 18:02] CoDEmanX commented on #6
I see, so it really just forwards the press event, and I need to roll my own code to pause, resume or whatever.

I assume I can setTimeout() in JS on the first press with a timeout around 0.5 seconds, which will play/pause the medium. If a second press occurs, I will have to check for a pending timeout and abort it, then skip to the next medium.

[2015-10-06 18:39] homerours commented on #6
Yes, exactly !

[2015-10-07 01:27] igor9silva commented on #10
Thanks for your answer @homerours and sorry for the delay. I'll give it try tomorrow and update here.

[2015-10-08 12:26] portuga86 opened #12 "Problem with app when it is closed"
When you close the app and reopen, a new control is created in the notification bar.
How to destroy the control before exit the app, or destroy when open it?

![captura de tela de 2015-10-08 09 20 59](https://cloud.githubusercontent.com/assets/10171818/10366020/eef1b662-6d9d-11e5-8e8d-0b59969cfb83.png)

[2015-10-08 13:01] homerours commented on #12
Thanks for repporting this!
On android, all notifications are registered using aa notification id (an integer). For the moment, the plugin uses aa random id to register the notification: when you stop the app and reopen it, a new id will be chosen and the new notification don't override the older one. À quick fix would be to use a fix notification id, so that you would have at most 1 notification.

[2015-10-10 19:40] homerours commented on #12
I fixed it ;)

[2015-10-10 19:40] #12 closed

[2015-10-13 11:47] portuga86 commented on #12
Thank you so much homerours!
=)

[2015-10-21 06:51] freeweed opened #13 "case 'music-controls-play': don't work"
every case work find just case 'music-controls-play': it's don't work can you tell me why? this is my function
function events(action) {
      switch(action) {
          case 'music-controls-next':
              $scope.skip();
              break;
          case 'music-controls-previous':
              $scope.back();
              break;
          case 'music-controls-pause':
              $scope.

[2015-10-21 07:52] homerours commented on #13
Did you submit again: `MusicControls.create(..., isPlaying: 'false',...)` after you listened to the "pause" event? It should replace the pause button with the play button and allow you to use the "play" event.

[2015-10-21 08:33] freeweed commented on #13
No this is my $scope.stop()
$scope.stop = function(){
    $scope.musics[playing].isPlay = false;
    $scope.isPlaying = false;
    media.pause();
  }

[2015-10-21 17:36] homerours commented on #13
So, you have to update the notification in the stop function. Add
`MusicControls.create({ ..., isPlaying : false, ...})` to your function ( "..." should be the same infos that you submitted before, if the track has not changed). You should also do the same in your play function, in order to show the "pause" button.

[2015-10-30 13:49] #11 closed

[2015-10-30 13:49] #13 closed

[2015-10-30 16:53] #10 closed

[2015-10-30 16:53] igor9silva commented on #10
Working like a charm!

[2015-10-30 16:58] igor9silva opened #14 "Cover image is being reloaded every time create() is called"
What do you think about caching the cover image?
I'm loading images from other server and it takes too much time to Create() terminate. When changing the music it's ok, since there is new data, but it's pretty dumb to re-download the image everytime user play/pause music.

Maybe creating a method 'tooglePlay()', which would recreate the notification using the same info just toggling the isPlaying

[2015-10-30 22:27] homerours commented on #14
Hi
Both are great ideas !
About the tooglePlay fonction, I wanted to add it last week (and do some code refractoring) but I got some issues with my Cordova Cli...
You are welcome to create à pull request if you have time to do this. If not, I 'll do it as soon as m'y Cordova gets better ;)

[2015-11-02 20:32] homerours commented on #14
I added the toggle play/pause function: 3d70108d90

[2015-11-03 10:08] igor9silva commented on #14
Thanks @homerours, will check it today.

[2015-11-03 12:14] igor9silva commented on #14
@homerours
The UpdateIsPlaying method was calling createbuilder() again, which would download the cover and create the whole notification again.
I've created a pull request to fix it, please check it out.

[2015-11-06 13:34] #14 closed

[2015-11-18 23:38] Whebcraft opened #17 "MusicControls.create is undefined"
MusicControls is called  in a function
function playmusic(){
 try {
MusicControls.create({
    track : 'My track',
    artist : 'my subttile',
    cover : 'img/Musical Notes-100.png',
    isPlaying : true,
    ticker : 'Now playing ......'
}, onSuccess, onError);
 }catch(e){
        console(e.message);
 }
}
console(e.message); Returns MusicControls.create is undefined please how do I solve this?

[2015-11-24 16:12] hdezela opened #18 "Hide next/previous"
Could it be possible to add the ability to hide the next/previous buttons when creating/updating the notification? People tell me its confusing when they're at the end of a playlist but the "next" button is still there.

[2015-11-25 18:14] homerours commented on #18
Good idea! I merged your pull request, thank you.

[2015-11-25 18:14] #18 closed

[2015-11-25 18:17] homerours commented on #17
I don't have any particular idea:
- try to remove the plugin (`cordova plugin rm cordova-plugin-music-controls`) and install it again.
- are you working on android?

[2015-12-03 19:15] Whebcraft commented on #17
yes

[2015-12-09 10:12] hdezela opened #20 "Getting error on some LG phones."
This is the error reported:

`java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.ComponentName.getPackageName()' on a null object reference
at android.media.AudioManager.registerMediaButtonIntent(AudioManager.java:2542)
at android.media.AudioManager.registerMediaButtonEventReceiver(AudioManager.java:2534)
at com.homerours.musiccontrols.MusicControls.

[2015-12-09 13:44] filfat opened #21 "[Android] Custom notification icon"
The current icon is either a play or pause button depending on the playback status,
it would be great if we could set an optional custom icon (eg, the app icon).

[2015-12-11 14:12] homerours commented on #20
Thank you for reporting this issue. It looks like the error comes from the "interception" of the media button (= headset button) click. You can comment the following lines in [MusicControls.java](https://github.com/homerours/cordova-music-controls-plugin/blob/master/src/android/MusicControls.java) to disable this feature:

- [lines 65-69](https://github.com/homerours/cordova-music-controls-plugin/

[2015-12-11 14:16] homerours commented on #21
Good idea. I'll try to look at this.

[2015-12-11 16:07] hdezela commented on #20
Yup, that was it exactly...thank you for the speedy fix, you're awesome!

[2015-12-11 16:07] #20 closed

[2015-12-22 17:52] lesonunique opened #23 "[Android] Small close button"
Hello,

I discovered today in the latest update the function that interested me a lot: a button to close the notification.

I have just one question, is it possible to have the close button in the top right small, to keep the cover in large ?

Like this :
![notifications](https://cloud.githubusercontent.com/assets/12293195/11962040/06993004-a8dd-11e5-9c92-145ef4849968.jpg)

Thank you.

Vincent

[2015-12-22 19:09] homerours commented on #23
I search for that in the android SDK. The only thing I found that could show a close button on the top right is the [setShowCancelButton method](http://developer.android.com/reference/android/support/v7/app/NotificationCompat.MediaStyle.html#setShowCancelButton(boolean)).
However, this method is only (as far as I searched...) available through the "Android Support librairies" ([some infos here](ht

[2015-12-29 11:25] sdkcarlos opened #24 "App just crash android 5.1"
Trying the following code (and everything ... after the device is ready obviously) in android 5.1 doesn't work :( the app just crashes

[code]

Is this version of android unsupported ?

[2015-12-29 20:05] alisonmonteiro commented on #24
When it's crashe?
I have the same code and it work.
Android 5.0.2

[2016-01-01 15:31] #24 closed

[2016-01-01 15:32] homerours commented on #24
I had the same issue on 5.1, I fixed it.

[2016-01-03 12:35] sdkcarlos commented on #24
Working awesome @homerours  Thank you so much !

[2016-01-22 17:58] alisonmonteiro commented on #23
Hey, @lesonunique

I've set "hasClose" flag to "true" and my notification looks like

![img_20160122_145550](https://cloud.githubusercontent.com/assets/3016692/12518635/7b8eb25a-c118-11e5-802c-439ca0b0bc7a.jpg)

[2016-01-27 21:24] aykutc opened #25 "Android 4.1 + does not work notification"
I check this plugin android 4.1.2 and 4.2.2 but it does not work,
it only work android 5.
I see this error on logcat.
Do you have a solution ?

`01-27 23:21:56.568 26101-26101/com.ionicframework.example403106 W/dalvikvm: VFY: unable to resolve virtual method 137: Landroid/media/AudioManager;.registerMediaButtonEventReceiver (Landroid/app/PendingIntent;)V
01-27 23:21:56.568 26101-26101/com.ionicfra

[2016-01-27 21:46] aykutc commented on #25
Sorry, I solve this errors, You should announce that registerMediaButtonEvent require minimum android 4.4 therefore ;
People who use this plugin should delete some line in  MusicControls.java:
These lines:
		this.mAudioManager.registerMediaButtonEventReceiver(this.mediaButtonPendingIntent);
		this.mAudioManager.unregisterMediaButtonEventReceiver(this.mediaButtonPendingIntent);

[2016-02-08 20:41] homerours commented on #25
Thank you for reporting this issue and resolving it! It just escaped this lines "programmaticaly": 725fed36 It should now work without having to comment anything.

[2016-02-08 20:41] #25 closed

[2016-02-20 22:32] malek75 commented on #17
I have the same issue. Have you find the solution ? thanks !

[2016-02-24 11:48] filfat commented on #17
I assume this happens on iOS,
You need to feature detect to make sure you're not trying to call the plugin on unsupported platforms.

[2016-02-24 15:54] malek75 commented on #17
No the problem happen on Android :/

[2016-02-25 09:11] ajoyoommen opened #27 "When app is minimized, notification is destroyed"
Whenever the app is minimized, the notification controls are discarded. This happens regardless of `dismissbale`. Is this by design?

[2016-03-02 10:22] schmoofer opened #28 "Doesn't work on LG V10, Android 5.1.1"
Lockscreen controls and metadata do not appear on an LG V10 running Android 5.1.1. Used the same code successfully on a Nexus 7 also running Android 5.1.1.

[2016-03-02 15:34] homerours commented on #28
Did you try this : https://github.com/homerours/cordova-music-controls-plugin/issues/20 ?

[2016-03-03 06:45] schmoofer commented on #28
Perfect, that fixed it.

[2016-03-03 06:45] #28 closed

[2016-03-03 07:34] homerours commented on #27
No it is not by design: if your app is still running in background when you minimize it, the notification controls should stay visible.
Are you sure that your application is still running in background when you minimize it ?

[2016-03-03 08:17] ajoyoommen commented on #27
* When the application is minimized, sound is still playing, but notification is cancelled.
* When the application is closed, sound stops and so does the notification.

I looked through the code and I couldn't find out where the issue is. I can confirm this behaviour on android 4.1.2, 4.4.4 and 5.1

**Temporary fix** - I added a callback to cordova event `pause` which updates the notification bar

[2016-03-03 20:42] ds8k opened #29 "Local image asset isn't found"
When passing in an image file that exists locally within the app Android is unable to find the file:
[code]

[code]

On a OnePlus One running Android 6.0.1

[2016-03-04 14:16] homerours commented on #29
The 'cover' attribute should be an absolute path. If you are using [cordova file plugin](https://github.com/apache/cordova-plugin-file), you can use `cordova.file.applicationDirectory` or `cordova.file.externalApplicationStorageDirectory` do build the full path.

[2016-03-04 14:33] ds8k commented on #29
And if I'm not using the file plugin?

[2016-03-04 16:56] ds8k commented on #29
Instead of
[code]

I made the following change
[code]

and now the image loads fine with no errors. Having said that, I'm NOT great at Java and have no idea if this would cause issues.

[2016-03-06 13:45] homerours commented on #29
You are totally right!
I commited the changes, it should work now.

[2016-03-06 13:48] homerours commented on #28
I have updated the plugin: 2722bd1fbe9
It should now work on your LG phone, without having to remove "manually" any line. Tell me if it works for you!

[2016-03-08 05:24] schmoofer commented on #28
Yep, works like a charm. Thanks!

[2016-03-08 15:43] ghenry22 commented on #27
Could you contribute a pull request with the update you mentioned for reference?

[2016-03-08 19:49] ds8k commented on #29
Sweet! That I could help out.

[2016-03-08 19:49] #29 closed

[2016-03-10 10:35] ghenry22 opened #30 "Cover from local file"
Seeing some issues using local files for covers.  If I change to a http:// url to load the image and it works fine and uses the image.  If I place a file called absolution.jpg in /albums or even just in the www root and try to load it as per the documentation it is never used and no error is logged to the console.

cover: 'albums/absolution.jpg'
image is not used

cover: 'absolution.jpg'
cover is

[2016-03-10 10:36] ghenry22 commented on #30
Testing on Samsung Galaxy S6 with android 5.1.1

Using latest Cordova Android 5.1.1 platform and latest plugin code installed by git

[2016-03-10 11:48] homerours commented on #30
I just tried exactly the same settings (Cordova 6.0.0, Cordova Android 5.1.1) on genymotion emulator and the image WAS used...

[2016-03-10 12:38] ghenry22 commented on #30
It works fine with a full file:// path.  But any relative path to the www/ root is a no go.  Tried it on another device.  Same thing.  I am running Android OS 5.1.1, cordova android platform 5.1.1, cordova 6.0.0.

Tried it on a LG G4 and my usual Samsung S6 test device and got the same behaviour.

I have worked around it by using the full path with file:// prefix for my case.

[2016-03-11 10:29] ghenry22 commented on #30
adding support for cdvfile:// urls might be something to consider as well since all the core cordova plugins support this now and makes it simple and cross platform.

[2016-03-20 04:13] shahbazkhan054 opened #31 "Play / Pause / Next / Previous Buttons are not visible in MIUI7"
Hello,

I am not able to see play,next and previous buttons on xiomi redmi prime 2 phone which has android kitkat 4.4.4 and MIUI7. It is working on Sony xperia and other android phones but not on MIUI. Please check the issue. Thanks.

[2016-03-29 20:36] kevr1990 opened #33 "Style options"
Is it possible to have any control over the visual style of the notification control?

I'd prefer it to have a solid black background (bot grey) and to lose the borders around the media buttons.

[2016-03-31 18:43] cinder92 opened #34 "[Android] lock screen image"
Hi! is there any way to put an image of current song in lock screen? like spotify does? it will be great!

[2016-03-31 19:07] djmMax commented on #34
Look https://github.com/wnyc/cordova-plugin-playerhater

[2016-03-31 20:06] cinder92 commented on #34
@djmMax  but this is only on ios is not?

[2016-03-31 20:40] djmMax commented on #34
No it works well on iOS and Android. But it not update for lastest android version

[2016-03-31 20:43] cinder92 commented on #34
do you have any example on android with lock screen? :D

[2016-03-31 20:52] djmMax commented on #34
No i try this but I could not compile for android 16. finally I use cordova-music-controls-plugin whitout LockScreen :cry:

[2016-03-31 21:16] cinder92 commented on #34
ok, i will try it :+1:

[2016-03-31 21:20] remcova opened #35 "How to update notification?"
If I skip a song it doesn't update the notification with the correct info, is there an update/modify function available to edit the notification/music player?

[2016-03-31 21:26] djmMax commented on #34
@cinder92 please notify me!

[2016-04-02 15:00] djmMax commented on #35
@remcova Destroy and Create new notification with new data

[2016-04-03 08:36] cinder92 commented on #33
+1

[2016-04-03 08:37] cinder92 commented on #21
+1

[2016-04-05 06:07] ajoyoommen commented on #27
*Sorry for the delayed response--*

I did not have to modify the plugin. I added an eventListener for [pause](https://cordova.apache.org/docs/en/latest/cordova/events/events.html#pause) which runs

    MusicControls.create({....});

[2016-04-06 13:02] igor9silva opened #36 "Tags"
Hi,

As it's a best pratice, It'd be nice to have release tags (e.g. v1.3.0) for each new version. This way it's possible to point at that very specific version in automation tools (e.g. npm, bower, jenkins), avoiding breaking anything when there is a new release.

[2016-04-19 08:38] djmMax commented on #21
:+1:

[2016-04-19 08:46] simonmartinez commented on #21
Yes, i need it too :+1:

[2016-06-10 07:00] ghenry22 commented on #34
this plugin does display the specified image and music controls on the lock screen widget

[2016-06-10 07:01] ghenry22 commented on #33
+1 good question

[2016-06-17 12:33] lelolenda opened #37 "IOS support Please"
Is better then use 2 plugins...

[2016-07-28 07:22] gowchow commented on #17
I have the same problem. MusicControls.create is not working for me on android 6.0.1 ( nexus6)
homerorus, could you please help us.

[2016-08-16 08:47] sinedied commented on #36
In the meantime, you can just use the commit hash to have the same behavior, ie:
[code]

[2016-08-25 18:47] shawns582 commented on #21
Any progress on this?  I tried editing my local copy of MusicControlsNotification.java(~line 154) but it must be wrong because my app is crashing.  I could use some help from someone who knows android programming enough to fix it:

Instead of builder.setSmallIcon(Icon.createWithContentUri("file://img/logo_white"));

[2016-08-25 19:55] shawns582 commented on #21
Just figured it out:

builder.setSmallIcon(context.getResources().getIdentifier("ic_notification_white2", "drawable", context.getPackageName()));

where my file is in the platforms/android/res/drawable folder and is named ic_notification_white2.png.

[2016-08-31 15:35] guillemdc commented on #33
+1

[2016-09-05 00:06] malek75 commented on #33
Up !

[2016-10-03 08:15] ghenry22 commented on #30
I guess the solution is just to use a full file:// path, I have that in my current app and it works fine with local files so I'll just close this issue.

[2016-10-03 08:15] #30 closed

[2016-10-03 20:58] Corrodian opened #38 "Different music-controls-media-button events"
Hi,
music-controls-media-button works great but wouldn't it be better to send the keyCode, for example, as a second parameter to the "MusicControls.subscribe(events)" function since the variable "KeyEvent event" in MusicControlsBroadcastReceiver.java already has that value?

Then one could have different actions for example:
KEYCODE_MEDIA_PREVIOUS
KEYCODE_MEDIA_NEXT

My car acts as a bluetooth hea

[2016-10-13 19:26] filerun commented on #35
It would be more elegant to have a method like ``MusicControls.updateTrack('Some` track title');``

[2016-10-13 20:34] filerun commented on #35
It would be great if there would be a function, to avoid the notification from jumping on recreate.

[2016-10-19 08:45] Yusadolat commented on #21
@shawns582 @homerours  Please can this plugin works with HTML5 Audio Player??. If Yes How do I go About That?

Thanks in Advance

[2016-10-19 10:36] Yusadolat commented on #17
@Whebcraft Have you resolved this issue?

[2016-11-14 08:14] asepshogun opened #39 "MusicControls is not defined"
heloo, i have question.
i use this plugin and there's an error "Uncaught ReferenceError: MusicControls is not defined"
can someone told me why ?

[2016-11-16 21:00] cinder92 opened #40 "Migrate to React native"
Hello! do you have any plans to migrate to RN?

[2016-12-19 02:03] 0505gonzalez commented on #37
Opened https://github.com/homerours/cordova-music-controls-plugin/pull/41 for review

[2016-12-20 09:05] homerours commented on #37
Thank you very much for the contribution @0505gonzalez !
I just merged it. Sadly I'm not able to try it... I can give you push access if you want.

[2016-12-20 09:25] 0505gonzalez commented on #37
@homerours No problem. Re: push access, sure thing. I can also help manage issues if you want.

[2016-12-20 09:32] homerours commented on #37
I just sent an invitation. Yes of course, you are very welcome ;)

[2016-12-20 11:53] #6 closed

[2016-12-20 21:13] 0505gonzalez commented on #39
Hello, please make sure you have installed the plugin correctly for the platform you are testing on. Unfortunately it's hard to help any more without context.

[2016-12-20 21:19] 0505gonzalez commented on #36
Good point. We'll start tagging with the most recent version, 1.4.0

[2016-12-20 21:19] #36 closed

[2016-12-20 21:21] 0505gonzalez commented on #34
Closing as it seems ghenry22 confirmed it worked.

[2016-12-20 21:21] #34 closed

[2016-12-20 21:26] 0505gonzalez commented on #23
This seems to be referring to customizing the notification style, which is covered by issue https://github.com/homerours/cordova-music-controls-plugin/issues/33

[2016-12-20 21:26] #23 closed

[2016-12-23 07:07] 0505gonzalez commented on #39
https://github.com/homerours/cordova-music-controls-plugin/issues/17

[2016-12-23 07:07] #39 closed

[2016-12-29 08:50] naitikpatel1990 opened #42 "MusicControls pause and play icon and fuctionality is not toggled."
i tested in android only yet,

In MusicControls updateIsPlaying( panel only pause is showing as icon ) , is it possible to do like normal player pause and play toggle icon as well as event.?

right now i can see only pause icon and even if i clicked many time it's calling pause audio event only,

even if i tried `MusicControls.updateIsPlaying(true);`  still only pause audio not playing again and n

[2017-01-03 06:29] 0505gonzalez commented on #37
@homerours Could you please release the updated plugin so that it can be installed via the cordova cli?

[2017-01-03 19:37] GerardoLSJ opened #43 "[ios] Works in the simulator but not in actual device"
I have this small template: https://github.com/GerardoLSJ/cordova-download-template-to-private-directory

On Android >= 4.1.2 works fine (after the alert when you push "play")
On iOS simulator too but in an actual device nothing is displayed :/

Any ideas?

[2017-01-03 20:09] kailashanath commented on #43
Tried to deploy music controls in ionic 1 using the side menu starter template.installed the plugin and added this code the controller, works on android devices and ios simulator, but nothing is happening on IOS device. I also included the controller.js file here

[controllers.js.txt](https://github.com/homerours/cordova-music-controls-plugin/files/683112/controllers.js.txt)

` $cordovaMusicContro

[2017-01-03 22:44] 0505gonzalez commented on #43
Hey guys, seems like the npm repository (which cordova and ionic cli tools use to install plugins) is not yet updated. I've asked @homerours to release the latest.

[2017-01-03 22:46] 0505gonzalez commented on #43
@GerardoLSJ Seems you got it working on emulator, make sure you start playing audio, this will switch music controls context over to your app. Let me know iOS version on your device and I will take a look as well.

[2017-01-03 22:52] kailashanath commented on #43
@0505gonzalez Thanks for the fast response, I have checked it on the devices running IOS 9.3.2 and 10.2 and both of them are not showing any music controls

[2017-01-03 23:04] GerardoLSJ commented on #43
my_media.play();

			MusicControls.create(notificationData, function(success){
				console.log('SUCCESS SHOW: '+success);
			},function(error){
				console.log('ERROR SHOW: '+error);
			});

}`

I know there is sound before the MusicControl.Create(), but I'm not sure if this is the best aproximation, the emulator is running 10.1, my device is running 10.0.2

[2017-01-04 04:36] Juanperezc opened #44 "Plugin does not work"
I have a problem the plugin does not work on my android device I did all the steps, I downloaded the git through the console. I added the plugin to config.xml then create a js with the following code

[code]
And call it in the index.html
` <script type="text/javascript" src="js/music-control.js"></script>`

But nothing appears on the notification bar

I also use the code on the play buttons but no

[2017-01-04 15:51] GerardoLSJ commented on #44
Try with this small template, It download a song pops an Alert and then you can push the "Play button"

https://github.com/GerardoLSJ/cordova-download-template-to-private-directory

I tested in 4 android devices, 4.1.2, 5.1, and two 6.0 and worked in all of them

[2017-01-04 17:09] Juanperezc commented on #44
I solved the problem, apparently it was not running the event MusicControls.create, have to run an audio before it appears?

[2017-01-04 17:48] GerardoLSJ commented on #44
I don't know why but it appears so, I try with an <audio> tag and the audio.play() (Avoiding the Media plugin) and it works with a little delay

[2017-01-04 17:55] GerardoLSJ commented on #43
I update my template: https://github.com/GerardoLSJ/cordova-download-template-to-private-directory

I was getting the audio from an interal location with the plugin Media.

I change to an html5 audio tag

`    var audio = document.getElementById("myAudio");
audio.play();`

And It seems to work
![img_0140](https://cloud.githubusercontent.com/assets/11900043/21653007/ba1cbaf8-d274-11e6-988a-21fd2ea9

[2017-01-04 18:14] kailashanath commented on #43
@GerardoLSJ are you able to change the title in the music control? As far as i know, this music control is automatically generated from the html 5 audio element, that is why there is no title and the url is showing. It is not created by the music control plugin.

[2017-01-04 18:16] GerardoLSJ commented on #43
On the init it appears the title and album that I give it, after I push pause appears the URL, I'm going to try to modify this

[2017-01-06 19:08] re2005 commented on #43
@GerardoLSJ thanks for the plugin.

I'm experiencing the same issue you have described above.

And it works on iOS simulator but unfortunately not on my device.

Hope I can help you fixing it.

Cheers

[2017-01-06 22:16] 0505gonzalez commented on #43
I'm using https://ionicframework.com/docs/v2/native/mediaplugin/ to play the audio, in my case a timeout is not required. This plugin does not override the data displayed in controls

[2017-01-06 22:17] #44 closed

[2017-01-11 12:53] dermansi commented on #33
+1

[2017-01-11 12:54] dermansi commented on #21
+1

[2017-01-11 13:01] dermansi opened #45 "Wrong version in package.json"
I can't install version 1.4.0 because of a wrong version in package.json

[2017-01-11 13:26] dermansi opened #46 "Local Artwork not working anymore"
My local cover in www folder doesnt't show up

[2017-01-11 14:34] derasmus commented on #37
Ionic IOS error - Object literal may only specify known properties, and 'album' does not exist in type 'MusicControlsOptions'.

[2017-01-11 17:08] shawns582 commented on #21
@Yusadolat yes it does. Check out the readme. For the event that fires (ie. music-controls-pause), you can code it to call the pause() function for the HTML5 audio player.

[2017-01-12 07:34] 0505gonzalez commented on #45
Updated `package.json`. It's yet to be updated on NPM.

[2017-01-12 07:34] 0505gonzalez commented on #46
Can you provide more details? Platform, OS version, plugin version, any other pertinent details.

[2017-01-12 07:35] 0505gonzalez commented on #40
I don't think so at the moment

[2017-01-12 07:36] #40 closed

[2017-01-12 07:37] 0505gonzalez commented on #37
@derasmus are you using ionic Typescript?

[2017-01-12 07:40] derasmus commented on #37
@0505gonzalez yes, i am

[2017-01-13 08:30] derasmus commented on #37
@0505gonzalez How can i fix the issue, running Ionic 2 & all the IOS propperies are not working?

[2017-01-13 10:26] 0505gonzalez commented on #37
@derasmus `MusicControlsOption` is a Typescript class defined in the ionic native module. To fix the issue, we would need to update the fields in the ionic native repo and create a PR. I was planning on doing that but have not had the time. https://github.com/driftyco/ionic-native

[2017-01-13 10:27] 0505gonzalez commented on #37
https://github.com/driftyco/ionic-native/blob/master/src/plugins/music-controls.ts#L4

[2017-01-13 11:12] dermansi commented on #46
I had to run 'ionic state reset' which installs all platforms and plugins again. It stopped working after that.
Manually reinstalling the platform or plugin did not work, too.

Noticed on Android 5.1 and Android 6.0.1

Adding a remote image still works.

[2017-01-13 11:39] dermansi commented on #45
Never done that by myself, but i think you have to publish the new release to npm by yourself.

[2017-01-13 12:54] derasmus commented on #37
@0505gonzalez thanks, will keep an eye out for the update

[2017-01-13 21:34] homerours commented on #37
@0505gonzalez I am very sorry for the delay, I do it right now!

[2017-01-14 18:24] #45 closed

[2017-01-14 19:57] dermansi commented on #46
It worked again after updating to 1.4. (Even tho i manually updated to 1.4 before and it didn't fix it).
Closed for now.

[2017-01-14 19:57] #46 closed

[2017-01-15 09:30] tordnilsen opened #47 "How to create in Ionic 2"
Hi!
Thanks for this plug-in (I think)
I can't get it to work in my Ionic 2 project. It has probably nothing to do with the plugin it self.
In my ts I have:
 import {MusicControls} from 'ionic-native';
//--
showMusicControls = function(){
    MusicControls.create({
        track       : 'Time is Running Out',        // optional, default : ''
          artist      : 'Muse',                     // op

[2017-01-15 10:03] dermansi commented on #47
You have to create onSuccess() and onError() on your own or simply delete them.

[2017-01-15 10:09] tordnilsen commented on #47
Thanks for amazingly fast respons!!
My ts looks now like this:
	showMusicControls = function(){
   MusicControls.create({
       track       : 'Time is Running Out',        // optional, default : ''
         artist      : 'Muse',                     // optional, default : ''
       cover       : 'albums/absolution.jpg'      // optional, default : nothing
   });
};

And now I got:
Argument of type

[2017-01-15 10:17] tordnilsen commented on #47
I got it to work!! Thanks
I though that because some of the parameters is optional I didn't have to implement them. So when I
have all parameters with (as described) it works.
Thanks!!!

[2017-01-15 10:17] #47 closed

[2017-01-16 03:17] neoassyrian commented on #38
I totally agree with this. Need to see this feature.

[2017-01-16 07:16] derasmus commented on #37
@homerours @0505gonzalez thank you, when can i update my project with the new fix?

[2017-01-18 04:38] ghenry22 commented on #43
https://github.com/shi11/RemoteControls

this plugin still works well for music controls on iOS.  It might serve as a good reference.

[2017-01-18 22:12] soramister commented on #43
Any update on this issue?

[2017-01-20 14:44] NikolaBalaban commented on #42
I think that this is not explained properly so I'll try to help:

Add `MusicControls.updateIsPlaying(true);` in **// Do something** section:
`case 'music-controls-play':`
`          // Do something`
`          break;`

Also, add `MusicControls.updateIsPlaying(false);` in:
`case 'music-controls-pause':`
`          // Do something`
`          break;`

So you will end up with something like:
`case 'm

[2017-01-21 07:43] Mushaqdeen-J opened #48 "Prevent app opens while click the notification"
Hi,
     First thanks to this great plugin. I have integrated this into my app successfully and works great. I want to prevent my app opens. I am not mean the icon buttons.

[2017-01-21 19:20] homerours commented on #48
Hi,
So you would like that a click on the notification does nothing, right ?

[2017-01-21 20:02] homerours commented on #38
Sorry for the delay.
I also agree with you. I'll look at this. However, I have nothing to do tests with that...
So you would like that the callback gives you the integer `event.getKeyCode()` (the significations of the integers are given [here](https://developer.android.com/reference/android/view/KeyEvent.html#ACTION_DOWN)) ?
The best way to do it would be, as you said, to add a second integer para

[2017-01-21 20:40] homerours commented on #35
Hello,
This issue was discussed [in this PR](https://github.com/homerours/cordova-music-controls-plugin/pull/15). It is difficult to find a solution that keeps compatibility with android 4.1. It would be great to have one, you can have a look at the PR ...
You do not need to destroy, just call `create` again, this should update the notification.

[2017-01-21 21:34] Corrodian commented on #38
Thank you for looking into it.
Yes I can test it for you.

[2017-01-21 22:29] homerours commented on #38
I just created a new branch.
It handles the most common (I guess) keyEvents, see [here](https://github.com/homerours/cordova-music-controls-plugin/blob/android_add_event_keycode/src/android/MusicControlsBroadcastReceiver.java#L62-L94).
Can you give a try and tell me if the event created by your remote are working ? Thank you.

[2017-01-21 22:44] Mushaqdeen-J commented on #48
Yes exactly gentleman.
Sent from Yahoo Mail on Android

  On Sun, 22 Jan 2017 at 12:50 a.m., homerours<notifications@github.com> wrote:
Hi,
So you would like that a click on the notification does nothing, right ?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-23 10:05] 0505gonzalez commented on #43
@soramister @GerardoLSJ Do you guys have sample code I can try out? I'm not able to reproduce

[2017-01-23 10:05] 0505gonzalez commented on #43
I'd be glad to help if I can repro the problem

[2017-01-23 10:06] 0505gonzalez commented on #42
Closing as it seems like a solution was provided.

[2017-01-23 10:06] #42 closed

[2017-01-23 11:35] dermansi commented on #21
The provided java solution doesn't work for me. Seems like it's not updating my changes to MusicControlsNotification.java. Can someone help me here?

[2017-01-23 20:33] Corrodian commented on #38
Did a quick test with the new branch.
Play, pause, prev and next buttons worked in my car. Didn't have other buttons to test.

Also, seemed to still work with a basic wired headphones pause button.

The car computer also likes to show album, track name and current position. Haven't researched how one would go about updating those. Now seems to pick the last played track name from other application

[2017-01-24 03:18] neoassyrian commented on #38
Hi guys,
I would like to test this too. However, I'm using Ionic2 Native. Will this be added to the Ionic2 Native github too?

[2017-01-24 03:19] neoassyrian opened #49 "Can we have updateDismissable(boolean) added"
Hi guys,
Can we have a method to update the "dismissable" property of the notification without re-creating the whole control? Would like to be able to update this when the media is playing/pausing.

Should be similar to updateIsPlaying(boolean)

[2017-01-24 10:50] derasmus commented on #37
@0505gonzalez - i'm still getting the following error:
Object literal may only specify known properties, and 'album' does not exist in type 'MusicControlsOptions'.

[2017-01-24 15:07] soramister commented on #43
I create a repository with a blank application here:
https://github.com/soramister/TestMusicControls

It contains just a play/pause button. If you play the music on the simulator, the plugin works, but not in a real iOS device.

[2017-01-24 20:14] GerardoLSJ commented on #43
https://github.com/GerardoLSJ/cordova-download-template-to-private-directory

This one is in Phonegap/Cordova plain, I download a song from the internet show up an "alert" and then once I push "Play" button in the simulator appears but in device dont'

[2017-01-24 22:23] jvjvjv opened #50 "iOS duration is always elapsed"
Found this in the code when I was trying to figure out how I can add prev/next buttons

[code]

Guess I should tag @0505gonzalez on this?

[2017-01-25 20:49] homerours commented on #38
Hi,
I  do not know how the ionic team update their "wrappers" for Cordova plugins, so I guess that you'll have to wait. Can you test the plugin "outside" of ionic native ?

@Corrodian : great ! I'll see if I can add some more events...

[2017-01-26 10:01] Mushaqdeen-J commented on #48
Else can I have any callback while app open via notification

[2017-01-30 00:39] neoassyrian commented on #38
Tested it and it works in the car. Not working on my headsets though.
There is also no need to update the ionic native wrapper, because it is using the same existing method.

[2017-02-03 20:32] soramister commented on #43
Any updates?

[2017-02-04 13:18] homerours commented on #38
Ok good. I merged it to the master branch. I also add some more keycodes: your headset button may be recognized now. All keycodes are listed [here](https://developer.android.com/reference/android/view/KeyEvent.html#ACTION_DOWN). I added the most relevant. If you have suggestions about other keycodes, I can add them !

For the moment, when you press "next" or "previous" on your headset, you only ge

[2017-02-05 09:51] brainrepo commented on #43
Thanks for the plugin! I am using it on ionic2 application but I have the same problem! In the simulator works well but not in device :(

[2017-02-06 09:59] ramoncarreras commented on #43
Yes, same problem here. Using ionic2 too.

[2017-02-09 08:31] Mushaqdeen-J commented on #43
Hi I am using Phonegap, this plugin works in Android but not working on iPhone or iPad. Is there anything additional plugin I have to install to make works in iOS and iPad. Please help me.

[2017-02-10 18:39] jvjvjv commented on #50
This was fixed a few days ago [Commit 961bf19](https://github.com/homerours/cordova-music-controls-plugin/commit/961bf19f044a631b7206f5c46ee4911224681fb3).

[2017-02-10 18:39] #50 closed

[2017-02-12 05:38] Alberick0 commented on #33
+1

[2017-02-14 08:42] soramister commented on #43
@0505gonzalez  Have you been able to reproduce the problem with the code I posted?

[2017-02-14 21:05] gbelmm commented on #43
+1 help please

[2017-02-19 12:03] epolder commented on #43
+1 Works in simulator but not on device.

Device ios 10.2.1
Cordova CLI: 6.5.0
Ionic Framework Version: 2.0.1
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
Ionic App Scripts Version: 1.1.0
ios-deploy version: 1.9.1
ios-sim version: Not installed
OS: macOS Sierra
Node Version: v6.9.5
Xcode version: Xcode 8.2.1 Build version 8C1002

Any further settings then Inter-App Audio and Background Mo

[2017-02-19 13:41] dermansi commented on #49
Can you bump npm version again please?

[2017-02-20 07:03] 0505gonzalez commented on #43
Sorry guys been pretty busy, I'll give this a try soon.

[2017-02-20 21:20] tkem opened #53 "MusicControls notification doesn't notice app being killed"
I noticed that the MusicControls notification keeps getting shown when my app is "killed" by Android after a period of inactivity. If the app is "paused", i.e. put in the background, and I terminate it manually (by swiping it from the recent apps list), the MusicControls notification is closed after a short delay (1-3 sec).
If I keep it in the background, e.g. over night, the app will get killed s

[2017-02-20 22:07] 0505gonzalez commented on #43
@soramister do you have the background audio capability enabled on your project?

[2017-02-21 07:04] 0505gonzalez commented on #43
@soramister I tried your example and was able to reproduce. However, I haven't gotten to the bottom of the issue in your repo. I rebuilt the example from scratch and was able to get it working on a physical device properly. Here's an example. https://github.com/0505gonzalez/music-controls-example

Can someone try and let me know if it works for you? And @soramister let me know if you find out why

[2017-02-21 08:18] epolder commented on #43
Suddenly it start working for me as well. I did platform rm ios. Removed all plugins. Installed all plugins. Added the ios platform. Reinstalled my certificates from Apple. Updated the xcode project with the suggested settings as Xcode suggested. Enabled the Capabilities. After that running the app on device everything worked as it should. Before all this I tried the steps one by one without luck.

[2017-02-21 10:30] ramoncarreras commented on #43
Removed ios platform and all plugins. Re-installed ios platform and all plugins with no luck. I'm still facing same issue. Works in the simulator but not in a real device.

@epolder what capabilities did you enabled in xcode?

[2017-02-21 16:10] gbelmm commented on #43
+1 no found..

[2017-02-21 16:50] epolder commented on #43
Inter-App Audio and Background Audio. I do not know i Background Audio is needed. I did also see in my provision profile that Inter Audio was enabled on my certificate att developer.apple.com

[2017-02-21 19:40] 0505gonzalez commented on #43
@ramoncarreras have you tried my example?

[2017-02-22 15:04] qLeph opened #54 "HTML audio compatibility"
Hi,
thanks for this great plugin.
is there any way to make it work with html5 audio tag?

[2017-02-22 15:07] gbelmm commented on #43
![captura de pantalla 2017-02-22 a las 12 00 39](https://cloud.githubusercontent.com/assets/731936/23217284/7a4c43d6-f8f7-11e6-9490-e0e81b021225.png)
![captura de pantalla 2017-02-22 a las 12 01 11](https://cloud.githubusercontent.com/assets/731936/23217290/7e1f456c-f8f7-11e6-95df-22139b57bcae.png)

[2017-02-22 15:23] gbelmm commented on #43
no found :(

[2017-02-22 15:46] gbelmm commented on #43
If I remove cordova-plugin-background-mode the problem is that the app closes when it blocks the cell

:(

[2017-02-22 16:04] gbelmm commented on #43
help please

[2017-02-24 01:06] shawnlan opened #55 "iOS: hasPrev/hasNext"
I set these properties to false, but the music controls on iOS still show the prev/next buttons.

[2017-02-24 01:41] shawnlan opened #56 "iOS: duration not working"
I can set elapsed, but duration doesn't work.

[2017-02-25 12:02] homerours commented on #54
Hello,
Yes of course.
This plugin displays a notification and send events to your Javascript app. Then you have to play/pause your sounds/music using Javascript functions (html5 audio, cordova audio plugin ...).

[2017-02-25 12:08] homerours commented on #53
Hello,
Thank you for this precise description. I experienced the same issue, but I was not able to find a proper solution :(
There is a "notification killer service" in the plugin that should kill the notification when the app dies. It seems that the service detects when the user manually kills the app, but not when the system does it after some time ...

[2017-02-25 12:13] homerours commented on #49
@neoassyrian Thanks for the PR :+1:

@dermansi done !

[2017-02-25 12:13] #49 closed

[2017-02-25 20:18] qLeph commented on #54
Thanks,
i've tested this plugin with cordova media and worked without any problem;
but at the moment i'm working on a hybrid (ionic) music app which uses javascript media player based on html <audio>; and every time i test it on iOS, html metadata overrides the info sent via events.
it just shows the title attribute assigned to <audio> on iOS control center (no artist, artwork, ...).

[2017-02-27 09:35] tkem commented on #53
I'm by no way an expert in Android system programming, but if I understand correctly, Android may literally "kill" an app running in the background at any time without further notice. Since this doesn't seem to trigger the "notification killer service", I can think of two possible solutions:

- prevent an app in the background from being killed as long as the MusicControls notification is active;

[2017-03-01 11:21] soramister commented on #43
@0505gonzalez Did you have time to take a look at my previous message?
The fact the plugin is not working on iOS devices is really blocking for me...

[2017-03-03 08:17] ramoncarreras commented on #55
Yes. I'm facing this same issue.

[2017-03-03 12:57] Ganster41 commented on #56
Its already fixed in last version. Try to update plugin.

[2017-03-03 20:18] shawnlan commented on #56
Confirmed.

[2017-03-03 20:46] shawnlan commented on #55
In my app I also embed Youtube players. When Youtube videos load, they take over the Control Center and make Prev/Next buttons disappear. I need a way to put them back once the audio starts playing. Being able to update `hasPrev` and `hasNext` would fix the issue.

[2017-03-03 20:49] shawnlan opened #57 "iOS: update playback rate"
Please expose this [API](https://developer.apple.com/reference/mediaplayer/mpnowplayinginfopropertyplaybackrate). The Cordova Media Plugin supports playback rate on iOS. The Music Controls Plugin should have the same support so that the timeline can be in sync.

[2017-03-19 00:53] aliendb commented on #43
As you mentioned in comment earlier @soramister (testing example from @0505gonzalez), this plugin works if background audio plugin is not used. I used a different background plugin, a simple implementation, with same results.

In the background plugin **try removing the AVAudio​Session​Category​Option​Mix​With​Others option**.   This worked for me.  Not sure if it will for all iOS versions or plug

[2017-03-24 13:47] soramister commented on #43
@aliendb I tried your solution to remove the AVAudio​Session​Category​Option​Mix​With​Others option.
Unfortunately it does not work.

If you edit directly the official background audio plugin, can you reproduce your fix?

[2017-03-24 18:55] poonsak58 opened #58 "Ionic 2 Can i custom notification icon from play and pause?"
I must custom notification icon when i play music.
from play and pause icon.

[2017-03-27 03:17] aliendb commented on #43
@soramister  -
Did some checking and saw that in the **plugin.xml**  you are using there is no onload for ios-package so I added in an onload and saw that it work.  There are different ways to set onload, it can be done from a call in JavaScript or by setting this attribute.

Changed from:
`<feature name="BackgroundMode">
                <param name="ios-package" value="APPBackgroundMode" />

[2017-03-27 12:43] gbelmm commented on #43
@aliendb perfect solution !!!!!

[2017-03-27 14:22] derasmus commented on #55
Me too, prev/next buttons show even if set to false

[2017-03-27 15:53] soramister commented on #43
@aliendb
THANK YOU!
Your solution is working.

Could you send your fix as a pull request to katzer/cordova-plugin-background-mode plugin? I can do it myself if you do not have time for it.

Thanks again!

[2017-03-27 18:24] aliendb commented on #43
Thanks guys for confirming that the solution works.
 @soramister as I'm not using katzer/cordova-plugin-background-mode plugin in my project at the moment, it will be great if you can make the pull request.  thanks.

[2017-03-29 14:37] soramister commented on #43
I created the pull request here:
https://github.com/katzer/cordova-plugin-background-mode/pull/274

[2017-03-31 15:29] GerardoLSJ commented on #54
Same with me but I notice that if your "path" to your audio is local, when the song is playing shows the correct information even in lockscreen (if you have background audio check issue 43 before)
But when I pause the song the "metadata" overrides the title and album cover, if I push play again the tittle changes to the correct one

[2017-04-06 22:47] neoassyrian commented on #58
Would also like to use different images. The Android resources are not crisp clear.

[2017-05-13 14:19] AshishMehra opened #59 "onSuccess doesn't fire on iOS"
Hey everyone,

Hope someone can shed some light on this.

In any iOS build I do the onSuccess callback isn't being called. I've tripled checked the code and it's been implemented as per the documentation. Not sure what is going on here. Please help!

`$ionicLoading.show({
template: '<ion-spinner></ion-spinner>',
noBackdrop: true
});

                        $cordovaMusicControls.create({

[2017-05-13 23:59] AshishMehra opened #60 "iOS: notifications/lock-screen time elapsed issue"
Hey everyone,

The elapsed time on the iOS controls keep goes out of sync. Everytime you hit pause it goes back to zero. I've seen other apps using this plugin and they too have simply ignored sending time information to the plugin, which works fine in the notifications area (as iOS hides the time bar) but in the lockscreen it shows an ugly empty time bar.

Is there a way to fix this functionality

[2017-05-14 20:17] dellagustin opened #61 "[question] How to update the elapsed time?"
There is a method to update the status of playing/paused, but what is the correct way to update the elapsed time?

Should I create a new control?

[2017-05-16 06:48] nadav12 opened #62 "play pause toggle not working"
I've tried two ways, i guess im just missing something simple :
`
            case 'music-controls-pause':
                angular.element(document.getElementById('cont')).scope().playBtn().$apply();
                MusicControls.updateIsPlaying(true);
                console.log("pause");

                break;

                case 'music-controls-play':
                    angular.element(docu

[2017-05-16 22:35] macfam opened #63 "Minor documentation update"
Missing a comma after:` album       : 'Absolution'` in the docs

[2017-05-17 21:23] ScottMBerger opened #64 "Anyone have an example of using a local image for icon?"
I can only get it to work with a web image. Everything I have tried using local has failed.

[2017-05-18 03:05] ghenry22 commented on #43
Actually there should be no need for an on-load, you just set the plugin as enabled in your app code once device ready fires.

Note that the background-mode plugin continuously loops a sound in the background at volume 0 in order to try and "look" like it is playing background audio to keep alive apps that do not really need background audio.

If you actually have an audio app then you don't need

[2017-05-18 23:26] #64 closed

[2017-05-22 20:10] netmikey opened #65 "Support Samsung's Always-On display"
We get reports from our Samsung users that they expect track updates to appear on Samsung's Always-On display, like the way Spotify and others do it (see attached picture). I was expecting this to work out of the box once the track information is pushed to the OS via this plugin, but apparently it doesn't?

Can this be implemented in `cordova-music-controls-plugin`?

![samsung-always-on](https://c

[2017-05-24 01:11] shawnlan opened #66 "iOS - cover set to relative path to the /www folder doesn't work"
I have cover set to this path: `assets/img/music-placeholder.png`, which is under `/www` folder. However on iOS this doesn't set the cover image. Any idea?

[2017-06-05 11:57] mrqaidi opened #67 "can play shoutcast or other steaming raido"
Hello guys

is this plugin can play shutcast or  icecast ?

[2017-06-07 22:10] DrakeWitt opened #68 "Depricated iOS APIs"
As of iOS 11, using init will no longer work to initialize a MPMediaItemArtwork, breaking this plugin on iOS 11. I think the new way of doing it is with a closure (block?): https://developer.apple.com/documentation/mediaplayer/mpmediaitemartwork

[2017-06-08 02:03] neoassyrian commented on #65
Need that too. Also if Bluetooth Info can also be implemented.

[2017-06-13 04:51] mrqaidi opened #69 "stopped when app in background"
Hi

i am using shoutcast  mp3 url as media  and its playing fine in app  but when app in background and  controls showing in   toolbar  after certain seconds player get stopped

[2017-06-13 06:14] mrqaidi commented on #67
i have tested and its working  with shoutcast   .. hmm no one here to answer anything else :)

[2017-06-13 18:14] EltonFaust commented on #66
Hello,
I am facing the same problem (Android), did you found any solution?

[2017-06-13 18:21] shawnlan commented on #66
I have no problem with Android. Check your file and path and make sure everything is correct.

[2017-06-13 18:49] EltonFaust commented on #66
The version of this plugin i was using was outdated sorry :P

[2017-06-23 15:57] al404 opened #70 "iOS iPhone Emulator i see streaming url"
Hi,

I'm using your plugin with HTML audio and shoutcast stream, only on iPhone when i go in the lock screen i see the shoutcast url on to under nothing that seems a progress bar but is empty since i don't have a duration

can i hide the streaming url? i try to fill all the values in the example with a string but it doesn't seem to make any difference

hide the progress bar would be great if possi

[2017-06-23 20:54] BuddyLReno commented on #60
I've created a PR to fix this. #71

[2017-06-23 20:54] BuddyLReno commented on #61
I've created a pr to fix this. #71

[2017-06-26 09:06] vickynathaiya opened #72 "Volume Up and Down not firing"
Hi,
i have tried many way to detect volume up and down but its not working. i don't know why. My code is as below. please let me know where i am wrong.

export class HomePage {

    constructor(public navCtrl: NavController, public platform: Platform, private push: Push, public musicControls: MusicControls) {
        platform.ready().then(() => {
            alert("system ready");

        });

[2017-06-27 09:06] #60 closed

[2017-06-29 14:15] homerours commented on #72
Hi @vickynathaiya,
Are the volume up/down the only events that are not triggered ?

[2017-06-29 14:55] homerours commented on #63
Thanks, I just corrected it.

[2017-06-29 14:55] #63 closed

[2017-06-29 14:58] #35 closed

[2017-06-30 13:54] #17 closed

[2017-06-30 16:50] Virendrabaskar opened #73 "Windows 10 Type mismatch exception"
I am getting this exception
`Exception calling native with command :: MusicControls :: create ::exception=TypeError: Type mismatch`
Any help ?

Thank you

[2017-06-30 18:20] BuddyLReno commented on #73
Can you show us some of your code? What version of the plugin are you using?

[2017-07-01 04:57] Virendrabaskar commented on #73
Hi,
I am using 2.0.0

**In config.xml**
`<plugin name="cordova-plugin-music-controls" spec="~2.0.0" /> `

**In index.js**
[code]

I am getting the following console messages
`adding proxy for MusicControls`
cordova.js (1015,9)

`Exception calling native with command :: MusicControls :: create ::exception=TypeError: Type mismatch`
cordova.js (993,13)

Thank you

[2017-07-03 12:30] vickynathaiya commented on #72
yes, actually i am working with headset events.
headset plugged, unplugged and headset hook event are working properly. But i don't know why volume up and down not working

[2017-07-03 14:51] RBrenet opened #74 "Update Title, Cover and Artist"
Hello and sorry for my stupid question, but what method we need to use to update Artist, Cover and Title?

Thank you in advance.

[2017-07-04 04:37] Virendrabaskar commented on #73
Hi, any update on this issue ?

[2017-07-05 11:40] homerours commented on #74
Hello! You just have to use the "create" method. This will replace the previous notification by a new one.

[2017-07-05 20:39] BuddyLReno commented on #72
The code above looks like it won't work. The `action` coming back is in JSON format. You'll need to retrieve the action from the message parameter after parsing the JSON.

[code]

Then can you use your `switch` statement on `eventType`.

[2017-07-05 20:56] BuddyLReno commented on #73
Sorry, I've been on vacation and haven't had time. What version of ionic native are you using? There was a short period of time where Music Controls were updated but Ionic Native's typescript definitions were not. Music Controls updated with [Ionic Native version 3.12.2](https://github.com/ionic-team/ionic-native/releases/tag/v3.12.2). Are you using that version also?

I unfortunately don't have a

[2017-07-06 16:33] Virendrabaskar commented on #73
I am using **Cordova 6.3.1** and for windows platform **cordova-windows 4.4.2**
`Exception calling native with command :: MusicControls :: create ::exception=TypeError: Type mismatch cordova.js (993,13)`

[2017-07-06 16:58] BuddyLReno commented on #73
@Virendrabaskar Can you supply more of the console log output? I assume it's failing exactly at the `MusicControls.create` line?

@filfat @homerours Do either of you have a windows device to test with?

[2017-07-06 17:21] Virendrabaskar commented on #73
Yes , It is failing at the MusicControls.create line.

I am getting only the following console messages
`adding proxy for MusicControls`
cordova.js (1015,9)

`Exception calling native with command :: MusicControls :: create ::exception=TypeError: Type mismatch`
cordova.js (993,13)
Please refer the screenshot here https://drive.google.com/open?id=0BzMaNY4OqxdqemR0ZjRUcG02RUU
for the same.

Thank yo

[2017-07-07 05:26] romain25 commented on #74
Thanks application dont crash when you create 10000 MusicControl ?

[2017-07-07 05:26] romain25 commented on #74
Or you need to destroy before create ?

[2017-07-07 08:46] RBrenet commented on #74
Ok, I Close this issue it's work like a charm on Android and iOS, I have refresh 1000 times without problem and crash.
Thanks for your beautiful plugin.

[2017-07-07 08:46] #74 closed

[2017-07-07 08:48] RBrenet commented on #70
Hello, for my project I use this :
https://github.com/apache/cordova-plugin-media

It work like a charm ;)

[2017-07-07 22:44] shawnlan opened #75 "iOS: 2.0.0 has no control buttons!"
1.4.1 works fine, but 2.0.0 control buttons are missing from the control center.

[2017-07-08 01:32] tadowns commented on #54
Did anyone ever figure out a workaround to this issue?

[2017-07-11 07:19] RBrenet commented on #75
Yes I have the same issue

[2017-07-14 08:00] al404 opened #77 "it works on iOS emulator but not in testflight"
Just tested on emulator and everynthig works fine, when I published the app for testflight it didn't work.

could it depends from provisioning profile? Should I enable some flag?

[2017-07-14 16:31] GerardoLSJ commented on #77
Yep check #43

[2017-07-15 08:33] homerours commented on #73
@BuddyLReno I have no windows device :( Sorry...

[2017-07-15 11:43] al404 commented on #70
do you thing could be about provision profile permission? i used default ones

[2017-07-16 07:56] soramister commented on #75
I can confirm. My play/pause button disappear on my iPhone device.

[2017-07-17 12:24] RomainDev25 commented on #75
Ok, if I replace MusicControls.m By an older project it's OK :

`//
//  MusicControls.m
//
//
//  Created by Juan Gonzalez on 12/16/16.
//
//

#import "MusicControls.h"
#import "MusicControlsInfo.h"

@implementation MusicControls

- (void) create: (CDVInvokedUrlCommand *) command {
    NSDictionary * musicControlsInfoDict = [command.arguments objectAtIndex:0];
    MusicControlsInfo * musicControls

[2017-07-17 12:41] RomainDev25 commented on #75
Ok, it's a problem with this methods :

handleMusicControlsNotification
registerMusicControlsEventListener
changedThumbSliderOnLockScreen
deregisterMusicControlsEventListener

[2017-07-17 12:42] BuddyLReno commented on #75
I can verify in my app the play/pause doesn't disappear but I don't have forward and back buttons. I've not been able to figure that out yet.

[2017-07-17 12:43] BuddyLReno commented on #75
We do want to make sure that we keep the json messaging system.

[2017-07-17 12:50] RomainDev25 commented on #75
I think the problem is the json messaging system, because, when I disable it, it's ok.

[2017-07-17 13:10] BuddyLReno commented on #75
Ok, let's see what needs to change to keep the json system. That system is needed to pass data to be able to change the elapsed time from the iOS control center. What version of iOS do you experience the error on? I wasn't seeing an issue on my 10.2 and 10.3 devices. (full disclosure, I don't know objective-c or swift, mainly a javascript/ruby dev)

[2017-07-17 13:28] RomainDev25 commented on #75
I have iOS 10.3.2.

I have replace MusicControls.m

https://github.com/homerours/cordova-music-controls-plugin/files/1152562/MusicControls.m.txt

[2017-07-17 13:54] soramister commented on #75
I have it on 10.3.2 too.

On 17 July 2017 at 15:28, RomainDev25 <notifications@github.com> wrote:

[2017-07-17 14:11] RomainDev25 commented on #75
@soramister I have use this tree :
https://github.com/homerours/cordova-music-controls-plugin/tree/f97fb2cb12232c3d66f4e4bb0c14853ff7188dbf

You download this plugin am^nd you add locally with :
cordova plugin add  {PATHPLUGIN}

I have copy this plugin in plugins/cordova-music-control
So I type :
cordova plugin add ./plugins/cordova-music-control

And it's OK

[2017-07-17 14:28] soramister commented on #75
Thanks but I rolled back to 1.4.1 for now which is working so it is ok.

But it would be nice that the 2.0.0 has a bug fix for the future.

[2017-07-18 08:27] al404 commented on #43
sorry but still getting the same issue and I'm not really sure what is the fix

I enable Inter-App Audio in my app

I use

MusicControls.create({
				track       : 'RPS',
				artist      : 'RPS',
				cover       : 'nocover.jpg',
				isPlaying   : true,
				dismissable : true,
				hasPrev   	: false,
				hasNext   	: false,
				hasClose  	: true,
				album       : 'RPS',
				ticker	  	: 'RPS'
			})

[2017-07-26 23:08] jg33 commented on #66
I'm having this same issue on iOS. @shawnlan- did you figure it out?

[2017-07-26 23:15] shawnlan commented on #66
I use remote image as a workaround. Not ideal, but at least works.

[2017-07-27 15:06] jg33 commented on #66
Ok- works! But yeah, not ideal. Thanks!

On Jul 26, 2017, 7:15 PM -0400, shawnlan <notifications@github.com>, wrote:

[2017-08-03 19:22] Remco75 commented on #58
Yes, that would be nice!

[2017-08-08 16:18] maurizio96 commented on #75
Hi @soramister ,
I had the same problem with 2.0.0. I tried 1.4.1 but unfortunately it gives some errors about JSON parse on messaging. How did you solve it?

`cordova plugin list`

shows correctly the 1.4.1.

I have also tried to apply manually "_MusicControls.m_" you attached but nothing has changed

Thank you

[2017-08-09 14:52] ruben2315 commented on #70
Hello, I just had the same problem using html5 <audio> tag.
It always showed the streaming url, which I didn't want to be visible.
In my case using a title attribute on the <audio> tag worked.

<audio id="thePlayer" title="[MY TITLE]">
  <source src="" type="audio/ogg">
  <source src="" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

Hope it helps ;-)

[2017-08-10 13:14] Remco75 commented on #66
same here, would be nice to have local file support like android

[2017-08-10 13:34] Remco75 commented on #54
The same here problem here. I play audio-streams with html Audio() object. It overrides the data set in the controls with the html audio data (title setting helps, but then there is no image

[2017-08-18 15:50] marcari commented on #75
See PR #78 for a fix. Works fine on iOS 10.0 & 10.3.

[2017-08-18 20:30] pniraula opened #79 "Android - Active media details not showing over bluetooth"
I have create a music player and when I use it in my car, the information about current audio is not displayed . For example title, total time, album etc. This happens when I connect my android phone to car stereo using bluetooth and play music.
However, when I use iPhone, all information are correctly displayed.

[2017-08-22 15:05] CesarOliveira commented on #62
I have the same issue here on iOS:
`      this.musicControls.subscribe().subscribe(action => {
        function events(action) {
          const message = JSON.parse(action).message;
          switch(message) {
            case 'music-controls-pause':
              this.pause();
              break;
            case 'music-controls-play':
              this.play();
              break;

[2017-08-22 15:14] nadav12 commented on #62
I solved it, it turns out I needed to add this lines after each event
MusicControls.updateIsPlaying(false/true); //toggles between play and pause
MusicControls.listen(); //continue to listen to events (only for one action/click until you call it again)

It's working great for me..

[2017-08-22 16:25] CesarOliveira commented on #62
I already have the: MusicControls.listen(); but not working at all.

The cover, track, artist, ticker and all works fine, just the action of Pause (or Play) that I do not receive the callback in my actions to pause the song.

[2017-08-22 19:02] CesarOliveira commented on #62
@nadav12 can you post your code?

[2017-08-23 07:27] nadav12 commented on #62
[here's a link](https://jsfiddle.net/nadavttt/Lj00k3q4/2/) I operated an angular function on each event
hope this helps

[2017-08-24 02:39] ghenry22 commented on #79
I have had this reported for my app as well.  It seems that this plugin generates the notification locally on android but does not send the bluetooth track information.  Same with any bluetooth device not just car stereos.

It would certainly be great to have this feature added, it's nice that iOS just takes care of it for you.

[2017-08-24 17:28] pniraula commented on #79
Ah! let me do some research on how we can send information to bluetooth. It looks like good addition to the plugin.

[2017-08-31 00:47] shawnlan opened #81 "iOS - Lockscreen issue"
Steps to reproduce:

1. While the app is in the foreground and playing some audio, lock the screen.

2. Turn on the screen again. Click play/pause on the lockscreen.

3. Notice that you have to click twice in order for the app to respond.

If the app is in the background before locking the screen, there is no such issue. Very weird.

[2017-08-31 01:33] BuddyLReno commented on #81
I've got an app in the iOS app store that does not have this issue. Can you post some of your code for the plugin? What version are you using?

[2017-08-31 09:59] neoassyrian commented on #79
This never worked and I don't think this plugin provides that information. It doesn't work with me either.

[2017-08-31 17:58] shawnlan commented on #81
This Plugin: 1.4.1
Background Audio Plugin: [Here](https://github.com/AubreyHewes/cordova-background-audio)
Ionic: 3.6.0
Ionic Native: 4.1.0
Cordova: 7.0.1
Cordova iOS: 4.4.0

Here is the code:

[code]

I have to click the play/pause button twice in order to see the console log once. The issue only happens when I lock the screen while the app is in the FOREGROUND and the audio is playing.

Thanks!

[2017-09-01 13:00] Remco75 commented on #70
Same here, but this seems to be a bigger problem: When using HTML5 audio tag / object in ios the controls seem to inherit the meta-data form the HTML tag. And it overrides any settings made. even the cover in my case.

[2017-09-01 13:34] Remco75 commented on #70
I can confrim that the cordova-media plugin dos not have these problems

[2017-09-02 09:47] nadav12 commented on #62
Did you figured this out? I've done some big changes in the project and some the events are'nt called

[2017-09-04 11:33] CesarOliveira commented on #62
Not yet @nadav12

[2017-09-07 07:13] itibet opened #82 "[question] How to update track information"
Hi,
is that possible to update track information (title, artist, album) without destroying/creating controls?
Thanks for the plugin!

[2017-09-08 14:02] fdambrosio commented on #43
I have same problem, I'm using Ionic3 and Videogular2.
I've activated Inter-App Audio but I see the music controls on Simulator, there's not in the IOS device

[2017-09-17 00:27] CVeniamin commented on #69
In which platform do you have this issue?

[2017-09-22 22:53] CVeniamin opened #83 "Change next and previous button on android"
I think that next and previous buttons are wrongly setted on android because instead of next and previous are used rewind [MusicControlsNotification.java#L184](https://github.com/homerours/cordova-music-controls-plugin/blob/master/src/android/MusicControlsNotification.java#L184) and fast-forward [MusicControlsNotification.java#L204 ](https://github.com/homerours/cordova-music-controls-plugin/blob/

[2017-09-24 23:39] CodeBitt opened #85 "MusicControls is not defined"
I installed the plugin, but cannot use it. I get the error `MusicControls is not defined`

[2017-09-25 13:00] al404 commented on #77
I count not fix the issue, i did switch to a different plugin but wit iOS11 is not working anymore, I got back and try to reinstall cordova-music-controls-plugin but not is not working even in emulator

when i press power button or home button it stops playing music

I have inter-app audio enabled and try took for this code but did not found

************************

Changed from:

<feature name=

[2017-09-26 13:16] #85 closed

[2017-09-27 14:09] fdambrosio commented on #77
I've same problem using Background Audio, Media and Music Controls: in the lock screen nothing is showed.
It's an incompatibility about Background Audio and Music Controls?

[2017-09-28 00:43] CodeBitt opened #86 "Previous and next buttons not showing up"
The previous and next buttons are not showing up on my Android. Yes, I do have them set to `true` in the options.

[2017-09-28 09:56] fdambrosio commented on #68
In my case this plugin does not works on iOS11

[2017-09-28 12:09] fdambrosio commented on #55
Hi I have the same issue on iOS 9 and iOS 10 (on iOS11 does not works).
There's a fix to hide the prev/next buttons?

[2017-09-28 12:42] fdambrosio commented on #82
I have the same question, there's no way?

[2017-09-28 14:18] fdambrosio commented on #75
will be fixed on 2.1.0?

[2017-09-28 15:25] fdambrosio commented on #62
I have the same problem, play/pause event does not work using Ionic Native Music Controls and this plugin. I'm testing it with 1.4.1 plugin version (2.0 doesn't show buttons on IOS) ,  Ionic3, XCode 9 and iOS Simulator with 10.3 & 11.0, and an iPhone real Device with iOS 11.0. Play/Pause control event isn't fired.

[code]

[2017-09-29 18:59] CVeniamin commented on #86
I think this issue also is solved with #83

[2017-09-29 18:59] #83 closed

[2017-09-30 01:46] CodeBitt commented on #86
No, neither the fast forward nor the next button show up when I have `hasPrev` and `hasNext` set to `true`

[2017-09-30 02:25] CodeBitt commented on #86
Darn, I forgot to run webpack again! It works fine now.

[2017-09-30 02:25] #86 closed

[2017-10-01 19:19] versustune opened #87 "Cordova plugin add Error"
Hi,
I dont can't install this plugin with the error message:
[code]

[2017-10-03 06:14] Dzivo opened #88 "Connection over bluetooth"
Expected:
I would expect that when i connect over bluetooth connection data is displayed on the device it is played on just.

Current behaviour:
Music plays when connected over bluetooth but there is no data about song displayed.

Note:
Data is correctly displayed in the notifications and can paly pause the radio.

Correct me if i am wrong and i need to look for another plugin to achive this.

Tha

[2017-10-03 07:25] edotassi commented on #62
Try this:
[code]

[2017-10-05 14:28] fdambrosio commented on #62
@edotassi thanks, using your code on Device iOS 11 and on Simulator iOS9.3 when I click pause/play I get only this error in XCode's console:
_Error in Success callbackId: MusicControls1369790364 : SyntaxError: JSON Parse error: Unexpected identifier "music"_

[2017-10-05 18:00] CodeBitt commented on #88
Bluetooth works for me just fine. It makes no difference to this plugin where or how the media is played, this just controls the controller.

[2017-10-06 17:29] Sbissa commented on #72
I'm having problems with this too, events from the headphone buttons doesn't fire. Only plug and unplug events are fired.

`  function events(action) {

      const message = JSON.parse(action).message;
      switch(message) {
        case 'music-controls-next':
        // Do something
        break;
        case 'music-controls-previous':
        // Do something
        break;
        case 'music

[2017-10-09 17:37] fdambrosio commented on #62
I’ve created a minimal ionic blank app from ionic starter, with Media stream (works) and Music Controls (not works), it’s available on github for testing :
https://github.com/fdambrosio/ionic-media-controls

[2017-10-11 14:49] fdambrosio commented on #62
I've found the error in the Docs:

the string with the 'message' is the same 'action' parameter, so

if I write:
[code]

it works O_O

[2017-10-12 11:56] fdambrosio commented on #55
2.1.0 has the same problem

[2017-10-23 17:38] Wade-McDaniel opened #89 "Play/Pause, Prev, Next buttons all disabled on iOS11 - but seek works..."
Greetings,

I know there are issues with cordova-plugin-background-mode and cordova-music-controls-plugin, but I cannot seem to get the Prev, Play/Pause, or Next buttons to not be disabled on iOS11. The seek bar on the lock screen works for me, but the other buttons are just that diabled-grey color and tapping on them don't work.

I tried removing cordova-plugin-background-mode but of course hitti

[2017-10-23 20:24] axalon commented on #89
Having the same issue, what it looks like for me:

![img_3567](https://user-images.githubusercontent.com/16852/31911425-98892fa4-b80e-11e7-8e8c-b8fe88919f04.jpg)

[2017-10-23 21:15] Wade-McDaniel commented on #89
Ya, I get what axalon posted a screenshot of, but the seek bar works for me and has times on either end.

Thanks, axalon!

[2017-10-23 22:16] Wade-McDaniel commented on #89
Oh, and I'm using version 2.0.0 of cordova-plugin-music-controls. I tried installing 2.1.1 via github, but not only did that not fix the play/pause, prev, and next buttons, but audio playback stopped working as well. So i reverted to just 2.0.0.

[2017-10-24 19:32] CodeBitt commented on #87
This is an error with cordova

[2017-10-25 15:18] soniyj opened #90 "iOS 11 Events do not work correctly"
I am facing some issues in iOS 11 with the new control center, in fact when you press the buttons play/pause or skip, events are not fired correctly and always. When you press one of the buttons the event is not recognised and if you press another button it runs the one pressed before.
Also sometimes the timeline is not updated, you have to open the player from the control center.

I am trying to

[2017-10-25 18:15] Wade-McDaniel commented on #89
axalon, I discovered something here. Maybe it'll help you.

When I edited MusicControls.m to comment out two sections, the two 'if' sections that start with 'if (floor(NSFoundationVersionNumber) > NSFoundationVersionNumber_iOS_9_0) {', that disabled seek dragging, but the play/pause, prev, next buttons showed up!

Still buggy tho: play/pause may work but prev/next don't.

I'm super-unfamilar with

[2017-10-27 08:41] jh3141 opened #91 "package.json does not contain "ios" in platforms list"
Currently reads:

[code]
Should be:

[code]

[2017-10-27 08:48] fdambrosio commented on #62
I have to use 1.4.1 release, 2.x / 2.1.1 too is not working, play/pause event are not fired

[2017-10-27 08:50] fdambrosio commented on #90
I had the same problem. I have to use 1.4.1 version. 2.x/2.1.1 too is not working, play/pause event are not fired.
Using 1.4.1 you have to try this code:

[code]

[2017-10-27 08:54] fdambrosio commented on #89
I had the same problem. I have to use 1.4.1 version. 2.x/2.1.1 too are not working, play/pause event are not fired.
Using 1.4.1 you have to try this code:

[code]
and it works. (but prev/next are always showed)

similar: https://github.com/homerours/cordova-music-controls-plugin/issues/62

example Repo https://github.com/fdambrosio/ionic-media-controls

[2017-10-27 09:05] jh3141 commented on #91
I've just created https://github.com/homerours/cordova-music-controls-plugin/pull/92 that fixes this and another slight problem I spotted while looking through the config files

[2017-10-27 09:49] soniyj commented on #90
Thanks @fdambrosio I am already using that code, I was debugging both the JS and the Objective-C code and when you press any buttons the events from the Obj-C code do not seem to be fired, this it happens with iOS 11 if you run the same code on iOS 10.x it works. I will test the 1.4.1 and see how it goes.

[2017-10-27 18:55] darthdie commented on #58
I've added support for this in #93.

[2017-10-29 04:57] quran-memorizer commented on #72
@Sbissa Your cases are not sufficient to cover play and pause events from headset.
Listen to more events.

Something like this.

`  this._ngZone.run(() => {
        switch(message) {
          case 'music-controls-next':
          case 'music-controls-skip-forward':
            self.onSkipForwardFromOutside();
            // Do something
            break;
          case 'music-controls-previous':

[2017-10-30 14:24] Wade-McDaniel commented on #89
Thanks fdambrosio!

But I tried reverting to 1.4.1 of the cordova-plugin-music-controls plugin and none of the buttons work now.

I see that your github repo you linked too doesn't use cordova-plugin-background-mode. How are you able to play audio when the device is locked without that?

[2017-10-30 16:48] Sbissa commented on #72
@quran-memorizer the problem isn't the case. I'm not receiving any events, only the plug and unplug.

[2017-10-31 10:40] fdambrosio commented on #89
thanks @Wade-McDaniel you need to turn on the option 'background audio' on XCode: https://developer.apple.com/library/content/documentation/AudioVideo/Conceptual/MediaPlaybackGuide/Contents/Resources/en.lproj/ConfiguringAudioSettings/ConfiguringAudioSettings.html and the app will be able to play audio in background.
Is it working my github repo branch 'downgrade' ?

[2017-10-31 19:36] carlosstrand commented on #90
@soniyj I had this problem today. I solved by adding:

[code]

at the end of the switch / case of the plugin (Objective-C). I saw that sometimes the action came `nil`, I believe something related to a debounce.

All handler below:

[code]

[2017-10-31 21:36] carlosstrand commented on #89
@Wade-McDaniel I solved with these steps:

Inside `MusicControls.m`:

[code]

More info at: https://github.com/homerours/cordova-music-controls-plugin/issues/90#issuecomment-340882887

[2017-10-31 21:47] Wade-McDaniel commented on #89
Thanks carlosstrand!
Unfortunately that doesn't seem to solve the problem here.

I get play/pause to work if I comment out the 'if' statements in MusicControls.m that start with
if (floor(NSFoundationVersionNumber) > NSFoundationVersionNumber_iOS_9_0) { but next/prev works once...sometimes, and then the event subType is end seek. So somewhere along the lines that event is getting hijacked and conv

[2017-11-01 10:41] soniyj commented on #90
hi @carlosstrand cool I will have a look. Which version of the plugin are you using? I tried the 1.4.x how suggested but that doesn't even show the right info. Another strange thing with the new info center is that sometimes the progress bar is not updated especially when the player is inside the center info.

[2017-11-01 16:54] carlosstrand commented on #90
I am using the 1.4.1

[2017-11-01 17:51] soniyj commented on #90
@carlosstrand ok but the 1.4.1 doesn't show anything!

[2017-11-03 16:22] BuddyLReno commented on #89
Is anyone using the new WKWebview from Ionic? I've been able to verify on my personal fork of this repo that WKWebview breaks functionality.

[2017-11-03 16:40] Wade-McDaniel commented on #89
Hi BuddyLReno, I'm using WKWebView from ionic, via cordova-plugin-ionic-webview.

There are iOS 11 issues for sure with MusicControls (hence why I opened this issue), but they seem unrelated to Ionic's cordova-plugin-ionic-webview.

[2017-11-03 17:53] BuddyLReno commented on #89
@Wade-McDaniel That's very interesting... When I have that plugin, the controls work just fine from my fork. When I add the ionic-webview plugin, they break. :/ Investigating.

[2017-11-03 18:00] Wade-McDaniel commented on #89
Try adding `<preference name="AudioCanMix" value="true" />` to your config.xml - I read somethign sopmewhere where the WKWebView has it's own instance/thread, so AudioCanMix makes it so the WKWebView doersn't take over the main thread.

My issues with MusicControls look to be are iOS11-related, after disabling some if-statements: https://github.com/Wade-McDaniel/cordova-music-controls-plugin/commi

[2017-11-03 18:17] sebaferreras commented on #89
Just to add some more information, [here](https://ionicframework.com/docs/wkwebview/#configuring-avaudiosession-doesnt-affect-wkwebview) you can find what @Wade-McDaniel mentioned related to `AudioCanMix` :

[2017-11-05 12:34] Lahrachtdi opened #94 "Error: Uncaught (in promise): Attempt to write to field 'boolean com.homerours.musiccontrols.MusicControlsInfos.isPlaying' on a null object reference"
the plugin works fine even with this error, but I want to fixed so that it doesn't show in  my error tracking each time a user lunch the app, thanks for support in advanced

[2017-11-06 09:29] ghenry22 commented on #90
@carlosstrand - Nice call there.  Fixed the music controls plugin for me on ios11.

I am using plugin version 1.4.1, cordova-ios 4.5.3.

I added some logging in while trying to troubleshoot this and it seems that you get a flood of events whenever you hit one of the remote control buttons and they get caught by the default switch case and anything after the first one to hit that default case retur

[2017-11-06 10:53] soniyj commented on #90
@ghenry22 I will try the old 1.4.1 with cordova 4.5.3 without @carlosstrand suggestion, if it doens't work I will add that line of code.

I also added some logging as you did and in fact it seems that events are not propagated correctly, sometimes it is ok and sometimes they seem to go in a queue and processed in one go.

[2017-11-06 13:24] BuddyLReno commented on #90
I'm trying this fix out now. My top priority over the next couple days is fixing up this plugin.

[2017-11-06 13:26] BuddyLReno commented on #90
ANY help with this though is super appreciated. My main set of skills is front-end development, so iOS/Android stuff is trial and error for me usually.

[2017-11-06 16:20] BuddyLReno commented on #90
Ok so the interesting part for me is thus:

Using Ionic UIWebview: The events and notification function exactly as should and expected.

Using Ionic WKWebview: Play button is grayed out and when I press the button for skip forward or backward, the event is called an extra time each time I press it:

- First press: called twice
- Second press: called three times
- Third press: called four times.

a

[2017-11-06 16:43] BuddyLReno commented on #90
Discovered that registerMusicControlsEventListener is being called multiple times which is likely the cause of a host of issues.

[2017-11-06 21:14] BuddyLReno commented on #90
@carlosstrand I'm adding in the code you suggested about the action being nil in this next commit.

[2017-11-06 21:30] BuddyLReno commented on #91
This has been merged to master.

[2017-11-06 21:30] #91 closed

[2017-11-06 21:32] BuddyLReno commented on #89
@Wade-McDaniel @carlosstrand Can you guys try out PR #95 and let me know if that is better for you guys? I've gotten positive results with those changes.

[2017-11-06 21:34] BuddyLReno commented on #90
@fdambrosio @soniyj can you guys try PR #95? I've gotten positive results with those fixes.

[2017-11-06 22:17] Wade-McDaniel commented on #89
Sure thing, @BuddyLReno - but unfortunately I'm a bit of a github n00b. Is there a URL you can point me at that described how to merge in a particular commit into my fork of music-controls?

[2017-11-07 11:08] soniyj commented on #90
Hi @BuddyLReno I will test it, is this merged into the actual repository?

Just as info, the plugin works fine on iOS 10.x with the old UIWebView as you said, in fact strange things have started to happen since the new iOS SDK 11 (no surprise from Apple) and Ionic.

I am not an Obj-C expert but in case I am willing to help, I also tried to convert this to Swift but I got the same issue.

[2017-11-07 13:14] BuddyLReno commented on #89
@Wade-McDaniel Sure thing!

- [Configure an upstream for a fork](https://help.github.com/articles/configuring-a-remote-for-a-fork/)
- [Sync a fork](https://help.github.com/articles/syncing-a-fork/)

[2017-11-07 13:41] BuddyLReno commented on #90
@soniyj Thanks man. I'm currently taking a look at PR #96 which looks extremely promising. I'm definitely not an Obj-C expert by any stretch of the imagination. I think I inadvertently inherited the repo, lol :)

[2017-11-07 13:56] soniyj commented on #90
@BuddyLReno not a problem, hoping to find a way. Cool this sounds really good. Hahaha no worries I think people are here to help ;)

[2017-11-07 14:51] Wade-McDaniel commented on #89
Thank you! I think I managed to mess it up a bit tho, and may have pushed my changes up to the master head instead of to my fork...hopefully people can just ignore that.

In some brief testing tho it looks like all the controls are working, including seek!

@BuddyLReno I left the version check in there and just put your commandCenter stuff within there. I saw @0505gonzalez ask about that, and it l

[2017-11-07 14:58] BuddyLReno commented on #89
@Wade-McDaniel it looks like you pushed to the master of your fork. Since you're not a collaborator on this repo, you won't be able to push to master without a PR. 👍  :)

[2017-11-07 14:58] BuddyLReno commented on #89
@Wade-McDaniel do you happen to experience any lag or have to push buttons multiple times when you use it from the lockscreen? I'm experiencing that in my app.

[2017-11-07 15:06] Wade-McDaniel commented on #89
@BuddyLReno Nope, no lag on button push for me. But we've had people report that the cordova-plugin-media plugin isn't starting up streams very fast, but for me here on WiFi it's pretty fast.

I do need to change code so pause actually pauses and not stops, but that's a bug in my code and not MusicControls.m, so I'm pretty happy so far. But I've really only done very little testing this morning. I

[2017-11-07 15:12] BuddyLReno commented on #89
@Wade-McDaniel ok very interesting. I'm having to push the lockscreen controls multiple times to get them to respond. When the device is unlocked I can use the control center just fine. This only happens when I use Ionic WKWebview (as opposed to their UIWebview) so it definitely seems to be an issue with either my app or Ionic's WKWebview. :) I'm glad these issues are getting fixed for you! I actu

[2017-11-07 15:16] Wade-McDaniel commented on #89
@BuddyLReno Are you using <preference name="AudioCanMix" value="true" /> in your config.xml? Check out @sebaferreras comment from earlier in this thread: his explanation is a good one.

But if you already have that in your config.xml, then I'm stumped on your lag issue...sorry.

[2017-11-07 15:16] Wade-McDaniel commented on #89
`<preference name="AudioCanMix" value="true" />` got parsed out in my comment

[2017-11-07 15:17] BuddyLReno commented on #89
@Wade-McDaniel I missed that in all my back and forth. Trying that out now.

[2017-11-07 15:29] BuddyLReno commented on #89
That didn't help but it looks like there may be other avenues to pursue. Pretty sure we don't need to do any updates here.

[2017-11-07 16:07] Wade-McDaniel commented on #89
@BuddyLReno Quick question: If you hit pause does the seek bar jump back to 0 for you? It does for me. But if I hit play again the audio is still at the correct spot, just seek is off.

[2017-11-07 16:08] BuddyLReno commented on #89
No, I actually get no response unless I tap multiple times.

[2017-11-07 16:08] BuddyLReno commented on #89
Well the play button will change to pause and back and forth but nothing happens.

[2017-11-07 16:11] Wade-McDaniel commented on #89
Just in case, have you tried deleting your platforms and plugins directories after adding in that AudioCanMix preference? I had to `rm -rf plugins && rm -rf platforms && cordova prepare` to fully test that one. Actually, I do that a lot...

[2017-11-07 16:18] BuddyLReno commented on #89
I've done that a few times but not since adding audiocanmix. I'll try that now.

[2017-11-07 17:12] Wade-McDaniel commented on #89
@BuddyLReno Nice! I'm still working on that seek issue. I've traced it to updateIsPlaying - trying to get teh updatedNowPlayingInfo dictionary to not set the MPNowPlayingInfoPropertyElapsedPlaybackTime value to 0, but like github, I'm not familiar with debugging in XCode, so it's slow going...

[2017-11-07 17:13] BuddyLReno commented on #89
@Wade-McDaniel so after some more testing, the only way I got it to work was by using @ghenry22's plugin: https://github.com/ghenry22/cordova-plugin-background-mode

I don't even have to do anything, I just have to have the cordova plugin itself.

@ghenry22, can you elaborate on why that would be the case? By default the background-mode plugin is disabled. Is there some other property that is adde

[2017-11-07 18:30] pz6tnk opened #97 "Player disappears after next/prev tap iOS"
When I tap 'next' button player disappears. After 1 sec next song start playing and I can see controls and cover again.

![](https://user-images.githubusercontent.com/10914859/30965459-eee82048-a46e-11e7-85fe-48e576aed6a6.png)
![](https://user-images.githubusercontent.com/10914859/30965563-3c132bc4-a46f-11e7-94a9-461c376a3a20.png)

[2017-11-07 18:41] pz6tnk commented on #97
I suppose this is incorrect app realization issue.

[2017-11-07 19:52] Wade-McDaniel commented on #89
@BuddyLReno  I solved my seek-bar issue...mostly...by using updateElapsed on iOS and using {isPlaying: false, elapsed: [currentTrackPosition]} for pause button clicks instead of updateIsPlaying(false). It's not perfect as the seek bar can jump a bit, but it's better than it was. Just FYI in case it helps you (or anyone else).

Debugging why updateIsPlaying(false) moves the seek bar is currently be

[2017-11-07 20:26] BuddyLReno commented on #89
@Wade-McDaniel It may help that PR #96 fixed that I believe. Gavin made it so that updateElapsed forwards to isPlaying and both accept the elapsed time and set it properly now.

[2017-11-08 11:26] fdambrosio commented on #90
Hi @BuddyLReno I've tested 2.1.3 merge with Ionic Native Music Control 4.3.2 and UIWebview.
Play/Pause event and hasPrev/hasNext false WORKS correctly on iOS.
iOS 9 & iOS 10 works on Simulator. iOS 11 works on Device.

example repo: https://github.com/fdambrosio/ionic-media-controls/tree/merge96

[2017-11-08 11:26] fdambrosio commented on #89
thanks @BuddyLReno   PR #96 works for me!

example repo: https://github.com/fdambrosio/ionic-media-controls/tree/merge96

[2017-11-08 13:11] BuddyLReno commented on #90
@fdambrosio great! Thanks for checking it out! I am going to close this issue as I'm receiving reports elsewhere that this topic is fixed.

[2017-11-08 13:11] #90 closed

[2017-11-08 13:12] BuddyLReno commented on #89
@fdambrosio awesome! Thanks for testing!

@Wade-McDaniel did the new version of music controls (2.1.3) help?

[2017-11-08 14:17] BuddyLReno commented on #81
@shawnlan I think 2.1.3 may have solved some of these issues. can you try it out? Thanks!

[2017-11-08 14:18] #87 closed

[2017-11-08 14:20] Wade-McDaniel commented on #89
@BuddyLReno Actually, I was under a bit of a time crunch, so I just let our testers look at the app yesterday still using my fork of music-controls: https://github.com/Wade-McDaniel/cordova-music-controls-plugin I think it has your stuff in it. They seemed happy with it on iPhone iOS11, but I haven't heard back about any iPad testing or any other OS version than 11. I plan to switch to the main mu

[2017-11-08 14:20] BuddyLReno commented on #69
Closing this issue since there's been no movement.  For iOS, if you need the audio in the background, You need to add the Background Mode capability for the app and check the Audio, AirPlay, and Picture-In-Picture checkbox.

![image](https://user-images.githubusercontent.com/1429547/32553897-b9b10ff2-c45d-11e7-91d0-ce38a66e83c9.png)

[2017-11-08 14:20] #69 closed

[2017-11-08 14:21] BuddyLReno commented on #89
@Wade-McDaniel great! I'll close this issue for the time being. Thanks for all the help!

[2017-11-08 14:21] #89 closed

[2017-11-08 21:57] sebaferreras commented on #89
@Wade-McDaniel  I'm also having this issue with the seek-bar on iOS 11 with the WKWebView plugin, even after installing the background mode Cordova plugin.

So using `updateElapsed({ elapsed: positionInSeconds, isPlaying: false });` jumps a bit but for some reason `updateIsPlaying(false)` moves the seek bar to the start...

[2017-11-09 10:15] ghenry22 commented on #88
I think the issue is that bluetooth devices normally display some metadata about the currently playing item.

From what I have tests iOS takes care of sending the same info you set for this plugin through to the bluetooth display, Android does not though.  So even though it plays fine, you get the audio, you can use headset controls for skip, pause etc over bluetooth you don't get nice metadata on

[2017-11-09 10:20] ghenry22 commented on #77
please try the latest version of this plugin, just install it from the repo.

Enable background audio capability through xcode for iOS.

[2017-11-09 10:21] ghenry22 commented on #81
you also shouldn't really need that background audio plugin, just enable the background audio capability through xcode, it just takes a click and you're good to go.

[2017-11-09 11:18] soniyj commented on #90
Hello @fdambrosio and @BuddyLReno which branch I should test with iOS 11? Is that working just with UIWebView? thanks

[2017-11-09 11:27] fdambrosio commented on #90
@soniyj the latest 2.1.3 music control plugin (master branch) works fine with UIWebView and iOS11 (only using the device)
My sample repo works, you can check my environment: https://github.com/fdambrosio/ionic-media-controls

[2017-11-09 13:32] BuddyLReno commented on #77
☝️  Just like this:

![image](https://user-images.githubusercontent.com/1429547/32607948-2dc0c03c-c520-11e7-8193-6fe21b71eaba.png)

[2017-11-09 13:34] BuddyLReno commented on #90
@soniyj we're still fighting some weird issues with WKWebview which may result in how Ionic has WKWebview configured. @ghenry22 is messing with that.

[2017-11-09 16:46] shawnwithlegion commented on #81
Good to know! I'll give it a try. Thank you guys.

[2017-11-10 11:34] soniyj commented on #90
@fdambrosio I will test the latest version from the repos, as the tag release is still at 2.1.2, I will test on both UI and WK, and see how it works. Thanks for sharing it!

@BuddyLReno and @ghenry22 any chance to get in touch with the Ionic guys about it?

[2017-11-10 13:28] BuddyLReno commented on #90
I may put in some sort of support ticket. The issue hinders us from moving to WKWebview. Using the media plugin, we subscribe to the onStatusUpdate observer and run an action that starts the next track when the current track is finished. That functionality breaks in WK but works in UI. I'm going to pop over to the media plugin and investigate there too.

[2017-11-10 17:33] soniyj commented on #90
@BuddyLReno cool, can you also mention that the media plugin should have a callback when a media has loaded or not, right now the callbacks are not really useful especially when you need events to be fired right after. We are looking into it next week because we need something like that.

[2017-11-12 00:00] bretth18 commented on #85
having this issue, how did you solve this?

[2017-11-14 13:33] AshishMehra opened #101 "Android: Lockscreen/Notifications area player not showing up in Android 8 Oreo"
Hey guys,

In Android 8.0 Oreo, the plugin seems to be working and creates an object and everything but it just doesn't show up! There is no error or any warning or anything.

I've tried adding and removing the android platform in Ionic 2/3 but still no joy.

Anyone else have the same issue or know how to solve this issue?

Thanks!

[2017-11-14 17:09] AshishMehra commented on #101
@BuddyLReno @ghenry22 you guys have any idea?

[2017-11-14 18:00] BuddyLReno commented on #101
I've currently got a working implementation on Android. Can you post your initialization code?

[2017-11-15 12:31] AshishMehra commented on #101
Hi @BuddyLReno,

Here is my code

[code]

[2017-11-15 12:32] AshishMehra commented on #101
Hi @BuddyLReno,

Here is my code

[code]

[2017-11-15 17:10] BuddyLReno commented on #101
Can you clean this up and remove all the comments?  From what I'm seeing I think you're missing the `.listen()` function. That should kick everything off. Is `subscribeEvents();` your own function?

Here's an example of how I do it in my app:

[code]

[2017-11-15 18:01] AshishMehra commented on #101
Hi @BuddyLReno,

The code snippet I posted was part of a large piece of code that I am unable to publish publicly.

Anyway, that same piece of code works fine for all iOS devices and versions 9.0 onwards. It also works on all Android devices and version from API level 16 onwards until API level 25.

It is only API level 26 (Oreo) where the player initialises but never appears in the notification/l

[2017-11-15 18:35] BuddyLReno commented on #101
Hhhmmmm. Can you download this app on your Oreo device and let me know if the lock screen controls work? My product manager has a Google Pixel with Oreo on it and it is working.

https://play.google.com/store/apps/details?id=com.daveramsey.tdrsapp&hl=en

[2017-11-15 18:37] AshishMehra commented on #101
Doing it now.

[2017-11-15 18:41] AshishMehra commented on #101
Ok it works! Cool thanks for that test.. what else can it be about my build that is causing an issue? Perhaps a conflicting plugin?  see my list below

[code]

[2017-11-15 18:48] AshishMehra commented on #101
Here is all the relevant code that I can share as well in case that helps

[code]

[2017-11-15 19:45] BuddyLReno commented on #101
Background Audio possibly? We don't use background audio in our app. That's the only thing I can think of off the top of my head. We've not had any issues on the Android side.

I did however fork the media plugin and made a few changes to it. Perhaps try using this fork of the media plugin as well and see if you have any success? I haven't had time to try and make PRs on the media plugin yet. http

[2017-11-15 20:18] AshishMehra commented on #101
Ok using your media plugin did not work..  removing background-audio did not work :(

not really sure what else to do here!

[2017-11-15 20:38] BuddyLReno commented on #101
hhmmm I'm unsure as well.  For giggles, take out the catch and then in the create method and see what happens.

Also try completely removing the platforms folder and plugins folder (straight up delete the folder) and then run `ionic cordova prepare`.

Taking shots in the dark now :/

[2017-11-16 00:41] AshishMehra commented on #101
Can we compare our ionic environment? Maybe the issue lies there?

[code]

[2017-11-16 00:48] AshishMehra commented on #101
I've also tried cordova-android 6.3.0 and 6.4.0

[2017-11-16 12:50] AshishMehra commented on #101
Ok so I got it working! In case someone else is stuck here is how this works on Android 8.0.

You will need to downgrade your cordova-android to 6.2.3
You will then need:
cordova-plugin-media at version 3.0.1
cordova-plugin-file at version 4.3.3
cordova-plugin-file-transfer at version 1.6.3

@BuddyLReno I presume you have a similar build to this?

[2017-11-16 13:06] BuddyLReno commented on #101
Hey! Sorry, I was busy last night and didn't have a chance to get back to you. Glad you got it working! Here's my setup.

Cordova-android *6.4.0*
plugin-media is my fork

ahh... file and file-transfer i'm using the master forks.

[code]

[2017-11-16 13:07] BuddyLReno commented on #101
I wonder if some of that is a hold over from trying to get Ionic WKwebview working for my app (which I can't at the moment because I need to play multiple audio files in a row, like a playlist.)

[2017-11-16 17:08] AshishMehra commented on #101
It's surprising how you have it working for cordova-android 6.4.0.. Maybe it is the WKwebview. That is also causing us a lot of other issues.

Do you have this plugin?
`cordova-plugin-ionic-webview 1.1.15 "cordova-plugin-ionic-webview` ?

[2017-11-16 18:52] BuddyLReno commented on #101
I've been able to make it work with that plugin, it shows up an functions. However we can't use it because it pauses javascript in the background keeping us from moving to a new track when the current track is finished.

[2017-11-19 05:51] ghenry22 commented on #101
@BuddyLReno try my fork for wkwebview:
https://github.com/ghenry22/cordova-plugin-ionic-webview#integratedFixes

I have a PR open on the ionic wkwebview repo as well.

This enables proper background operation for both wkwebview and the GCDwebserver and also adds the option to use the dark themed keyboard.

You will need to add these options to your config.xml as appropriate:
`ionic cordova plugin

[2017-11-19 05:52] ghenry22 commented on #101
the ionic webview is only relevant to iOS though, it shouldn't affect android in any way as it isn't used in android.  @AshishMehra try calling listen after create, before you call subscribe.

[2017-11-21 00:44] bensinclair commented on #75
+1 for a fix

[2017-11-21 02:08] bensinclair opened #102 "NPM package has not been updated to 2.1.4"
When I run `cordova plugin add cordova-plugin-music-controls` it's installing version 2.0.0.

The package has not been updated to 2.1.4: https://www.npmjs.com/package/cordova-plugin-music-controls

[2017-11-21 06:25] ghenry22 commented on #56
@BuddyLReno - duration definitely working in current release, this issue can be closed.

[2017-11-21 06:27] ghenry22 commented on #72
@Sbissa - this should be resolved in the latest release, try installing from the github repo directly as NPM is out of date currently.

[2017-11-21 06:29] ghenry22 commented on #75
Please try the current release, just install directly from the github repo as NPM is not updated yet.

Recent fix I committed has all buttons working again as they should on iOS.

[2017-11-21 06:29] ghenry22 commented on #82
This is not currently possible.

[2017-11-21 06:31] ghenry22 commented on #70
the webview seems to overwrite the meta data you set with the URL every time.

If you use the cordova media plugin all works as expected.

Test on a real device, the emulator can be hit or miss with lock screen and control center testing.

[2017-11-21 06:35] ghenry22 commented on #62
versions prior to 2.0.0 you need to use switch(action).  Versions after 2.0.0 require you to parse.JSON first then switch.

I have submitted a PR to ionic native to update some errors in the documentation.

Version 2.1.4 (installed from the github repo as NPM is not currently updated) should work fine.  I am using it with latest ionic-native with no issues.  I don't use the play-pause-toggle.  Jus

[2017-11-21 11:47] fdambrosio commented on #62
thanks @ghenry22 , I've tested 2.1.4 and it's working, but I need to do :
[code]
otherwise all buttons was not clickable

[2017-11-21 11:50] fdambrosio commented on #102
I hope npm will be updated soon, I need to do:
[code]

[2017-11-21 11:51] fdambrosio commented on #75
@bensinclair it works if you do:
[code]

[2017-11-21 13:09] #56 closed

[2017-11-21 13:10] BuddyLReno commented on #72
Yeah, currently @homerours is the only one who has access to publish the pacakge to NPM.

[2017-11-21 13:13] BuddyLReno commented on #70
I can confirm that the emulator is hit or miss a lot. My team spent half a day "fixing" an issue that only occurred on an emulator.

[2017-11-21 13:15] BuddyLReno commented on #62
Yeah, only @homerours currently has access to publish to NPM. @homerours, could you give access to publish to NPM to @ghenry22 and/or I?

[2017-11-21 13:17] BuddyLReno commented on #102
Yes, unfortunately, I don't have access to publish to NPM. Trying to rectify that. until then,

`ionic cordova plugin add https://github.com/homerours/cordova-music-controls-plugin` will be what you need. :/

[2017-11-21 13:19] #75 closed

[2017-11-21 15:27] Sbissa commented on #72
Thanks guys, i used the github repo and works now!

[2017-11-27 13:27] AshishMehra commented on #101
Thanks @ghenry22 will give this a shot!

[2017-11-28 02:31] neoassyrian commented on #81
I have a similar issue.
The progress bar also does not update when using (updateElapsed)

[2017-11-28 23:30] jkapongo commented on #94
@Lahrachtdi, calling `MusicControls.create({...})` returns a promise, so you need to chain that call with `then` and `catch` to handle the fulfilment of the promise and its rejection, respectively.

[2017-11-29 03:17] TimeTravelersHackedMe opened #103 "Feature Request: Support Features from Media Session API"
I've noticed that in my app which uses your plugin and the Media Session API as a fallback for web that the web seems to do a better job at integrating with Android. In Android, when you go to the lock screen the Media Session API will set the background of the lock screen to the album art and also have a play control from the lock screen.

Could you possibly bring these features to the plugin?

[2017-12-01 08:28] ThijmenDF commented on #82
The only way to update the title, artist, album, duration etc. is to call `MusicControls.create()` again. You **don't** have to destroy the notification, calling `create` again will simply update the existing one.

For Example:
[code]

You can update the play / paused, current progress and if it's dismissable or not separately with:
[code]

*note*:
On android (and possibly ios too) calling `create

[2017-12-01 08:44] pz6tnk commented on #97
It's still relevant any thoughts guys?

[2017-12-06 10:48] fdambrosio commented on #102
there's news?

[2017-12-07 15:02] Mokto commented on #102
FYI I created this : https://github.com/bhvr-business-solutions/cordova-plugin-audiocontroller, as this plugin is not updated anymore.

I rewrote the Objective C code to make it work with IOS 11.

[2017-12-07 15:53] BuddyLReno commented on #102
@fdambrosio yep! just updated recently.

@Mokto this plugin is still being actively developed and works with iOS 11. We had a snag with publishing permissions that have been unlocked. There's a few different people that can publish to NPM now.

[2017-12-07 16:01] AshishMehra commented on #102
Well if @Mokto has re-written the Objective-C to upgrade the programming logic, then perhaps we should merge in the code and consolidate the two plugins into one better plugin that works everywhere :) ?

[2017-12-07 16:02] BuddyLReno commented on #102
Agreed. We should review it and see what it will take.

[2017-12-07 16:03] BuddyLReno commented on #102
@Mokto if you wouldn't mind, would you make a pull request from your fork and see if merging our code will produce a better plugin for everyone?

[2017-12-07 16:15] Mokto commented on #102
@BuddyLReno I didn't know !

Give me a few days and I'll do it.

[2017-12-07 17:02] BuddyLReno commented on #102
@Mokto awesome! The more the merrier!

[2017-12-07 20:13] Mokto opened #104 "[Request] Close the issues/PR if they are done/old"
It would be nice to close remaining finished/old issues to see what still needs to be resolved.

[2017-12-09 02:34] westphalen opened #105 "Undeclared identifier: `NSFoundationVersionNumber_iOS_9_0`"
I am getting the error "Undeclared identifier: `NSFoundationVersionNumber_iOS_9_0`" using `"cordova-plugin-music-controls": "^2.1.4"` and `"cordova-ios": "4.5.4"` with `"ionic-native": "^2.9.0"`.

[2017-12-09 02:48] westphalen commented on #105
Looks like this is a problem with a specific SDK version. I will update my SDK and try again.

[2017-12-09 15:16] westphalen commented on #105
Confirmed: Updating XCode solved this build error.

[2017-12-09 15:16] #105 closed

[2017-12-15 16:49] sasokovacic opened #106 "Is there any way to unsubscribe?"
Hi,

I'm building an app that listens on headset events. I can successfully subscribe to an events, but don't know how to unsubscribe from them. Is this even possible?

[2017-12-20 12:55] ghenry22 commented on #106
destroying the remote controls should cancel all subscriptions

[2017-12-20 12:58] ghenry22 commented on #67
this plugin doesn't play anything, it just manages the remote controls for whatever media you are playing.

[2017-12-24 13:16] sasokovacic commented on #106
This is not working. I listen to the headset plugged/unplugged event. After I destroy remote controles the subscription is still active...

[2017-12-25 16:00] pz6tnk commented on #66
The same issue

[2017-12-31 16:51] distante opened #107 "Can I detect Headset changes without create a notification?"
(For now) I just need to know if the user has a Headset connected or not. Can I do this with this plugin without creating a notification?

[2018-01-01 18:09] distante commented on #107
I answer me, yes that work.

[2018-01-01 18:09] #107 closed

[2018-01-01 18:09] distante opened #108 "How to get the current status of the Headset / Headphone?"
That is, when the app runs how to know if there is already a Headset connected or not?

[2018-01-03 15:19] thesayyn opened #109 "Doesn't work on ios11."
This is my ionic project. plugin working on android as well but in ios 11 doesn't;

IOS Version : 11.0.2

Source code : https://github.com/thesayyn/media-controls

[2018-01-05 13:25] BilalAdhi opened #110 "notifaction bar controls issue"
Kindly help me out with this not sure if i'm doing something wrong because i even copy pasted the code but it's events are still not getting subscribed when triggered in the notification's bar.
please do let me know if there's some sort of glitch in the plugin or in my code. would really appreciate your help.

      this.musicControls.destroy();
      console.log("showMp3Player");
        this.mus

[2018-01-07 15:17] Rudloff commented on #61
I guess this issue can be closed?

[2018-01-07 19:03] dellagustin commented on #61
I'm not developing the project were I was using this plugin anymore, I'll not be able to say.

[2018-01-08 16:09] Scombr0 commented on #110
Move the listen() and the updateIsPlaying() methods out of the callback promise.

[code]

[2018-01-10 00:58] hoboman313 opened #111 "Android icons not showing up right"
Has anyone got them to work well with this lib?

I went through multiple .PNG media icon sets converting them to drawables using some online generators. Added their references to the cordova's config.xml and configured the lib with the names, but each time the icons ended up looking completely garbled(can't make the icons out at all) on my physical devices. Only the notification item looked somewh

[2018-01-12 22:59] jkapongo commented on #109
I had the same issue with iOS 11.0.2. The issue even occurred with [Spotify users](https://www.reddit.com/r/iphone/comments/71hi3a/ios_11_spotify_controls_not_showing_up_in_control/). One thing you have to do is to reboot your phone and the play something with the default music player.

[2018-01-13 07:04] thesayyn commented on #109
do you know is there any chance to change priority?
thanks

[2018-01-15 20:22] jsdussanc commented on #109
In a Cordova projects work, but in Ionic a proyect fail

[2018-01-15 22:06] jkapongo commented on #109
@thesayyn it's not a matter of priority. You just have to run the default music player once; and after that, it'll be working properly.

[2018-01-15 22:06] jkapongo commented on #109
@jsdussanc it works for me with in Ionic. What failure are you encountering?

[2018-01-16 11:21] fdambrosio commented on #103
I agree

[2018-01-17 00:06] GitFr33 commented on #66
I have the same issue on iOS and android. Remote images work fine. On android images directly in the www directory work but images in subfolders don't. On iOS I can't get any local images to work.

Has anyone found a fix for this?

[2018-01-17 04:14] #111 closed

[2018-01-17 10:26] pz6tnk commented on #97
ok thanks I will try

[2018-01-17 10:26] #97 closed

[2018-01-17 10:37] CVeniamin commented on #21
I think that commit https://github.com/homerours/cordova-music-controls-plugin/commit/d71d882cb9dd0f9ca71c54198d9ea880e798b800 solves the issue by adding support for custom notification icon

[2018-01-17 16:24] jsdussanc commented on #109
In the last iOS update, the title, artist, image never change, and the events are not linked to the buttons. Only see the src of te audio. Also create a new project with your plugin and an <audio> tag in ionic and it did not work, in cordova if it worked for me. But the advantages that cordova-ionic-webview brings are enough to leave them behind.

I've tried it with my Iphone 5s 11.2.2

[2018-01-18 19:43] GitFr33 commented on #66
Has anyone been able to use local images with iOS?

How can I find out about using fullpath ('file:///storage/emulated/...') that is mentioned in the readme? Is it possible to use that as a workaround for images located at www/image_dir_name/image.png?

I am using:
MusicControls version 2.1.4
Cordova version 8.0.0
iPhone5 with iOS 10.3.3 (and iPhone7 simulator iOS 10.2)

[2018-01-18 20:28] CVeniamin opened #112 "play, pause, next and prev events don't fire"
As submitted by #110 some events , `music-controls-next`, `music-controls-next`, `music-controls-play` and `music-controls-pause` , don't get  fire when clicking since they lack event handlers.

The issue appeared after PR #96 removed handlers for these events

[2018-01-18 22:30] jsdussanc commented on #109
Help me! :(

[2018-01-19 05:32] thesayyn commented on #109
@jsdussanc  same here, in android it's works fine. but in ios same as your problem.

[2018-01-19 08:00] frissonlabs commented on #101
I'm also getting the same behavior, except I'm using Ionic v1. It doesn't work on the following devices:

-Google Pixel 2 running Android 8.1.0
-LG G Pad X running Android 7.0
-Samsung Galaxy Note II running Android 4.4.2

However, it works on a cheap ZTE phone running Android 5.1.1.

Here's the demo project I created to test across on these devices:
https://github.com/frissonlabs/Android-Music-Co

[2018-01-19 14:42] CVeniamin commented on #109
@jsdussanc , I made a PR which links events to the buttons such as play/pause/next/prev. I don't know if that's your problem but you should consider it. I was only able to receive events for skip forward/backward but not for `media-controls-play/pause/next/prev`.
I hope it helps!

[2018-01-19 15:26] jsdussanc commented on #109
We try it, but it didn't work, thanks for the help
![6a1b701d-35e3-4b89-a803-91268a8a3d39](https://user-images.githubusercontent.com/7362688/35157563-5cae7492-fd02-11e7-954b-9664c55e0ba8.png)

[2018-01-19 16:57] thesayyn commented on #109
@CVeniamin could you try with my repo ?
Source code : https://github.com/thesayyn/media-controls

[2018-01-19 17:43] CVeniamin commented on #109
@thesayyn, I don't have ionic installed....
@jsdussanc, what's your configuration?
My `musicOptions` look like this
[code]
I only change `isPlaying` after `MusicControls.create()` using `MusicControls.updateIsPlaying(true);`

[2018-01-19 21:25] jsdussanc commented on #109
Nope, in xcode the log console drop this message: THREAD WARNING: ['MusicControls'] took '14.559082' ms. Plugin should use a background thread.
:/

[2018-01-19 22:28] CVeniamin commented on #109
I do have installed this plugin to enable background audio https://github.com/EddyVerbruggen/cordova-plugin-backgroundaudio

[2018-01-20 18:20] jsdussanc commented on #109
Yes I tried @CVeniami

[2018-01-20 18:23] jsdussanc commented on #109
if you uninstall the ionic-web-view, it works, but that plugin is too functional, it improves the response times a lot. I tried many alternatives that would reproduce the audio content via the Web and the control menu, but nothing worked for me.

Finally I will choose to switch to play audio content natively with ionic-native-media or something similar, that way ir work well.

[2018-01-23 20:20] frissonlabs opened #114 "Doesn't work on certain Android versions"
I'm also getting the same behavior, except I'm using Ionic v1. It doesn't work on the following devices:

-Google Pixel 2 running Android 8.1.0
-LG G Pad X running Android 7.0
-Samsung Galaxy Note II running Android 4.4.2

However, it works on a cheap ZTE phone running Android 5.1.1.

Here's the demo project I created to test across on these devices:
https://github.com/frissonlabs/Android-Music-Co

[2018-01-25 03:42] GitFr33 commented on #66
line 107 in musicControls.m `[NSSearchPathForDirectoriesInDomains(NSDocumentDirectory, NSUserDomainMask, YES) objectAtIndex:0];` seemed to be pointing to `/var/mobile/Containers/Data/Application/XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/Documents` instead of `/var/containers/Bundle/Application/XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/app_name.app/www/`

Replacing it with `NSString * baseCoverImagePath = [[[N

[2018-01-26 15:49] CVeniamin commented on #109
I tested [ionic-webview plugin](https://github.com/ionic-team/cordova-plugin-ionic-webview) which includes `WKWebview` and I can confirm that it "overrides" the controls. Using `UIWebview` however the issue doesn't appear. It seems that `WKWebview` is in controls of media playback thus this plugin its able to "take over" media controls.

[2018-01-27 05:55] tjvg91 opened #116 "Cover as data url image"
I can't set the music control cover as datarl image.

[2018-01-27 11:22] AshfaqMemon opened #117 "UI issue in lock screen control on android oreo."
**Note:** I don't know if this is issue or something related to internals of android.

Hi

Our lock screen control are looking different on android nougat and android oreo.

**This is the screen shot from android oreo's (8.0) lock screen.**

![android-oreo-blurred](https://user-images.githubusercontent.com/12150952/35471476-f209186e-0381-11e8-816e-a8c15ad73954.jpg)

**This is the screen shot from

[2018-01-29 23:11] #114 closed

[2018-01-29 23:11] RightCapital commented on #114
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ashishmehra@gmail.com
    Domain rightcapital.co.uk has exceeded the max emails per hour (59/50 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message

[2018-01-30 20:15] #112 closed

[2018-01-30 20:26] CVeniamin commented on #109
This issue was also reported on [telerik wkwebview plugin](https://github.com/Telerik-Verified-Plugins/WKWebView/issues/203).
I tried to apply same "patch" but without success.
Also found other users with same problem, as commented in a [SO question](https://stackoverflow.com/questions/35208744/mpnowplayinginfocenter-not-working-with-wkwebview-playback#comment58859387_35208744) , stating that it's

[2018-02-01 03:26] GitFr33 commented on #33
From looking at: https://developer.android.com/reference/android/app/Notification.Builder.html#setColorized(boolean) it seems like this could be accomplished in a most rudimentary way by adding something like:
[code]
at line 138 of MusicControlsNotification.java.
In reality that does not work and causes the app to crash.

If anyone has a suggestion about this please post it!
Thanks

[2018-02-05 06:27] shawns582 commented on #114
@frissonlabs did you solve this problem? I am having the same issue on a Google Pixel 2 on Ionic 3 (although it was previously working)

[2018-02-13 19:22] jsdussanc commented on #116
iOS
(cordova.file.applicationDirectory + "www/assets/imgs/cover-random.jpg").replace("%20", " "); (if you app contain spaces)
or
(cordova.file.dataDirectory + cover.name)+ ".jpg"

Android
assets/imgs/cover-random.jpg
or
this.file.dataDirectory + cover.name".jpg";

[2018-02-13 19:25] jsdussanc commented on #81
I fix it using the cordova-plugin-background-mode

[2018-02-13 19:28] jsdussanc commented on #66
It is not necessary, many times it is because the name of the app contains spaces or something like that
(the App)

I did it like this:

iOS
(cordova.file.applicationDirectory + "www / assets / imgs / cover-random.jpg"). replace ("% 20", ""); (if you app contain spaces)
or
(cordova.file.dataDirectory + cover.name) + ".jpg"

Android
assets / imgs / cover-random.jpg
or
this.file.dataDirectory + cove

[2018-02-16 14:37] mlerena commented on #70
Set the poster and title html attributes to avoid showing the application logo on the cover image and the url of the audio file.

[2018-02-20 00:34] shawns582 commented on #114
checking in on this again. Did you ever get this working on a Pixel 2?

[2018-02-22 05:31] frissonlabs commented on #114
Yes, and I didn't have to do anything else extra

On Feb 19, 2018 4:34 PM, "shawns582" <notifications@github.com> wrote:

checking in on this again. Did you ever get this working on a Pixel 2?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/homerours/cordova-music-controls-plugin/issues/114#issuecomment-366834669>,
or mute t

[2018-02-23 20:51] shawns582 commented on #114
@frissonlabs thanks, that's weird..it just started working? I hope I have that kind of luck!

[2018-02-24 05:08] westphalen commented on #109
I can confirm I am also having problems with music controls in an Ionic project, where it has been working before. Still works on Android, but the Music Controls `create` neither calls success or fail callback on iOS.

[2018-02-24 23:06] jkapongo commented on #109
I found that it depends on how you build the cordova project prior to running it in XCode. For example, when running in non-production mode (i.e. `ionic cordova build ios`) it does not work once you disconnect the iOS device. However, if you build in production mode:`ionic cordova build ios --prod`, and then run in xcode, it works properly.

Also as mentioned, the background audio plugin is also r

[2018-02-25 13:18] amitkhare opened #119 "Does not support android api 26"
Does not support android api 26.

[2018-02-25 13:19] amitkhare commented on #119
fixed it. how to submit a pull request?

[2018-02-26 02:31] westphalen commented on #109
I have gotten it working by ignoring the `create` Promise/callback and calling `updateIsPlaying` and `listen` directly after. Seems odd to ignore the promise, but it works for some reason. This only applies to iOS, worked fine on Android.

[2018-02-26 20:17] Rudloff commented on #88
I'm having the same issue with my smartwatch. It correctly sends previous/play/next events but does not display any info.
The current track info is not a big deal for me but another problem is that the watch seems to have no idea if the track is currently playing or not so the toggle button always sends a play event (instead of the pause event it should send if the track is playing).

[2018-02-27 11:17] fdambrosio commented on #57
hi, this is an important feature. Will be added this feature?

[2018-03-01 15:41] jsdussanc commented on #109
Yes, from the beginning I always ignored the promise in iOS, I really did not probe if I served in prod mode, but then I left it like this: v. what I did see is that the seekTo is a bug in iOS 11, but it is already Apple, if you get in the progress bar out of the point to realice seek, it is bugged for ever... I deprecated this functionality for the moment

[2018-03-01 15:52] jsdussanc commented on #109
I also had problems with the interaction when the screen is blocked and the app was foreground, if you also have this symptom, you can use my version of cordova-background-mode https://github.com/jsdussanc/cordova-plugin-background-mode

[2018-03-04 02:19] malek75 commented on #119
Hello, Can you submit your solution please ?

[2018-03-07 13:36] amitkhare commented on #119
# visit :
 https://github.com/amitkhare/cordova-music-controls-plugin/blob/master/src/android/MusicControlsNotification.java

# Replace all the content in

# Then in terminal:
`$ cordova platform remove android `
`$ cordova platform add android`

`$ cordova run android`

[2018-03-07 14:24] malek75 commented on #119
It's working well again!
Thank you very much @amitkhare

[2018-03-10 13:31] dpkpnm commented on #88
@Dzivo did you find a solution for displaying media info. I seem to have the same issue and not sure if I need to use another plugin to send this info.

Any update on this would really help.

Thanks

[2018-03-18 13:12] koljaaa opened #121 "Using the plugin only for the headset button"
I am still learning and I couldn't get it to work, so sorry beforehand.
Is it possible to use this plugin only for the headset button? I don't need the music controller and I only need to handle the headset-button event. Is it possible?

[2018-04-14 14:35] phiamo commented on #119
+1 can we create a merge request out of this ?

[2018-04-16 08:10] mediaonegroup commented on #94
@jkapongo Hi, how are you? Have you an exemple? I have the same problem :-(

[2018-04-19 10:26] manelalonso opened #122 "Notification not showing on Samsung Experience 9+"
Hello there,
Since i updated to the new version of Samsung Experience 9 (On Android 8.0) the notification is not appearing anymore, and it worked before the update. I noticed they reworked a bit the notification system on this update.

Is there any workaround to make it work? I'm using the default example code.

Thanks.

[2018-04-20 15:28] kgroat commented on #119
looks like the PR #120 has been merged, fixing this issue, now it just needs to be published to npm

[2018-04-20 21:36] versustune commented on #87
I do not use it anymore

[2018-04-26 13:18] triumvirat-FFDV commented on #122
Hello.
I had the same problem of you since I have the samsung s8+  phone. My problem was resolved going there => https://github.com/homerours/cordova-music-controls-plugin/issues/101, look the comment " commented on 16 Nov 2017" :
You will need to downgrade your cordova-android to 6.2.3 ( **my cordova version last was  6.3.0**)
You will then need:
cordova-plugin-media at version 3.0.1
cordova-plug

[2018-04-26 13:25] manelalonso commented on #122
I solved my problem with this: https://github.com/amitkhare/cordova-music-controls-plugin/blob/master/src/android/MusicControlsNotification.java

[2018-04-26 13:25] #122 closed

[2018-04-27 11:28] amitkhare commented on #119
Looks like issue resolved.

[2018-04-27 11:28] #119 closed

[2018-04-27 11:36] amitkhare commented on #117
I don't think its an issue. notification style upgraded in Oreo.

[2018-04-28 03:19] Kevonia opened #123 "Failed to restore plugin"
Failed to restore plugin "cordova-plugin-music-controls" from config.xml. You might need to try adding it again. Error: Failed to fetch plugin git+https://github.com/homerours/cordova-music-controls-plugin.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Failed to get absolute path to installed module

I

[2018-04-30 09:36] mrpink84 commented on #123
Remove the git+ from the URL in your config.xml and it should build fine.

[2018-04-30 15:25] #121 closed

[2018-05-22 11:33] Abdo-Hamoud opened #124 "How i use it in my custom controller"
i want add this plugin to run from custom controller ?

[2018-05-24 07:06] amanpatel1449 opened #125 "Can not create music control in android version 8 or above"
My android version is 8.0.0 and i have use Honor 9 Lite device in this device can't create music control. In lower version of android works fine. Thanks in advance. Please help me to out here.

[2018-05-24 12:15] eliasdarruda opened #126 "Can't destroy on IOS"
If I destroy music controls I can't get it to work again by creating/subscribing another time.
I'm using this plugin alongside with cordova-plugin-media, and the only way I'm running it is by leaving it always on

[2018-05-25 17:27] DiegoZurita commented on #125
+1

[2018-05-29 10:54] ramoncarreras commented on #125
This issue is related to:
https://github.com/homerours/cordova-music-controls-plugin/issues/101

[2018-05-30 08:03] ramoncarreras commented on #101
I have this same issue.
I've tried to call listen after create as proposed by @ghenry22 with no luck.

Any workaround for this?

[2018-06-01 10:11] amanpatel1449 commented on #101
I have also same issue.
I've already listen method called still not create music control in notification bar or on lock screen.
Below 8.0.0 android version works fine but not work in 8.0.0 or above.

Here is my method of create music control, can you help me @BuddyLReno or @ghenry22 ?

setupMusicControl(songData) {
        this.musicControls.create({
            track: songData.trackTitle,

[2018-06-13 11:06] hj0102 opened #127 "Anyone can explain how to use this great plugin?"
I know you guys are busy and expert, no time for this Newbie question.
Anyway, if there's at least one answer, I will be so glad.

If any one can reply with HTML with code inside, it will be so wonderful.  I know how to install plugin. I am using XDK by intel.

Thanks in advance,

Aaron

[2018-06-13 18:44] hj0102 commented on #127
or any examples?

[2018-06-21 19:45] walalm opened #128 "iOS not showing Now Playing Information"
On iOS the information about the current playing audio doesn't show. It only shows the Url of the media and the play/pause button.

[2018-06-26 09:48] rowanvi opened #129 "UpdateCallback error"
Hi,

I'm creating an application using cordova vue JS together with VueX.
I installed this plugin and everything is working fine, however I was trying to add the play and pause function. In my code i do the following i my VueX storage.

`    async createNativeAudioWidget({dispatch, state, commit}){
      //Destory old one
      MusicControls.destroy();

      //Create the widget
      MusicControl

[2018-06-29 02:31] neoassyrian commented on #101
Just upgraded to Oreo today and the notification is not displayed. However, the controls are working in my headset fine.

[2018-06-29 03:04] area809 opened #130 "Play works but pause doesn't on ios11"
for some reason the plugin works fine, but the play button does work while the pause does nothing... any idea how to fix?

thanks

[2018-07-02 12:47] rowanvi commented on #130
Can you share some of your code snippets of the play and pause methods?

[2018-07-05 15:41] sinedied opened #131 "Cannot install plugin with cordova 8"
Whenever I try to install this plugin with Cordova 8 / cordova-android@7.1.0, I get this error:
[code]
Any ideas?

[2018-07-06 00:05] riccardoSocialcities commented on #94
@mediaonegroup maybe I come too late, but this is how I did it.

[2018-07-06 00:17] riccardoSocialcities commented on #101
Using [this](https://github.com/amitkhare/cordova-music-controls-plugin) work it works

[2018-07-06 04:14] amanpatel1449 commented on #101
@riccardoSocialcities not working in android version 8.0.0 or above using cordova-music-controls-plugin. In other version work fine but In android version 8.0.0 or above not working. Can you help me to out here?

[2018-07-06 15:11] riccardoSocialcities commented on #101
@amanpatel1449 i got it working using a fork made by @amitkhare (https://github.com/amitkhare/cordova-music-controls-plugin).

[2018-07-08 15:36] cnttech commented on #131
i have same problem with cordova 8.0.0

[2018-07-08 15:55] IgorRyaboff opened #132 "Can't build app with this plugin"
I was trying to build the app with this plugin, but i get this:

`
1>MSBUILD : cordova-build error : D:\MyDocs\ProtonMusic\ProtonMusic\platforms\android\src\com\homerours\musiccontrols\MusicControlsNotification.java:28: error: cannot find symbol
1>MSBUILD : cordova-build error : import android.app.NotificationChannel;
1>MSBUILD : cordova-build error :  ^
1>MSBUILD : cordova-build error :  symbol:

[2018-07-08 17:30] sinedied commented on #125
Use latest version from github master, not npm and it works.

[2018-07-12 06:59] neoassyrian commented on #103
I agree. Can this be added to this plugin?

[2018-07-12 07:19] fdambrosio commented on #131
there's a workaround?

[2018-07-12 07:36] sinedied commented on #131
@fdambrosio  I reverted to cordova 7.1.0 and cordova-android 6.4.0 to make it work, but no workaround for updated versions.

[2018-07-12 10:29] lethak commented on #131
I have it installed with

cordova 8
cordova-android 6.4.0

[2018-07-21 07:55] area809 commented on #128
make sure you change your audio provider to CordovaMediaProvider in the ionic-audio.module

[2018-07-21 07:59] area809 commented on #130
music(track) {
    this.musicControls.updateDismissable(true);

    //this.musicControls.destroy();
    this.musicControls.create({
      track: track.title, // optional, default : ''
      artist: track.artist, // optional, default : ''
      cover: track.art, // optional, default : nothing
      // cover can be a local path (use fullpath 'file:///storage/emulated/...', or only 'my_image.jpg' if

[2018-07-22 02:08] madmandrew opened #133 "Music controls don't work with background mode on iphone"
Using ionic 3 and deploying to iphone.  When background mode is enabled music controls don't show up at all.  with background mode turned off music stops on screen lock and music controls show up but don't do anything.

cordova-plugin-music-controls: 2.1.4
cordova-ios: 4.4.0
cordova-plugin-background-mode: 0.7.2

[2018-07-23 06:28] marcodb26 opened #134 "Phonegap iOS: passing 'cover: null' to MusicControls.create() seems to cause an NSInvalidArgumentException"
Phonegap build v8.0.0, Cordova iOS version 4.5.4.
cordova-music-controls-plugin plugin v.2.1.4
Running on iPhone 7 with iOS 11.4.1 (but used to happen with previous versions of iOS too)

I used to always include the 'cover' property when calling MusicControls.create() and sometimes I would have to set it to null. And sometimes my app would crash. When I removed 'cover: null' (just omitted the prop

[2018-07-23 07:24] mugavri opened #135 "please update"
I'm willing to pay for the work, please update the plugin to work fix with ios 12 or Less and android api 26 and higher

[2018-07-24 12:19] neoassyrian commented on #133
Make sure you are using the UIWebView and not the new WKWebView in Ionic. (WKWebView is the default)
https://ionicframework.com/docs/wkwebview/

[2018-07-24 12:19] AmrAlmagic commented on #101
@riccardoSocialcities please,How can i add plugin from fork repository with npm ?

[2018-07-24 12:30] neoassyrian commented on #101
cordova plugin add https://github.com/amitkhare/cordova-music-controls-plugin.git --sa
ve

PS: after you do that, remove the "git+" that gets added to the config.xml and package.json files

[2018-07-24 13:31] AmrAlmagic commented on #101
@neoassyrian @amanpatel1449  woks now with android 8 thanks for your helping.

[2018-07-25 04:11] amanpatel1449 commented on #101
Thank you so much......... @neoassyrian
You are great.
Now it's work in android 8.0.0 Thank you again for your help.

[2018-07-25 04:34] amanpatel1449 commented on #101
@neoassyrian
Is there any way I can redesign music control in notification tray?

[2018-07-25 04:39] amanpatel1449 commented on #125
@neoassyrian

[2018-07-25 04:40] amanpatel1449 commented on #125
@neoassyrian
Thank you for your solution in #101 is work in android 8.0.0.
Now it's work fine.
You are great.

[2018-07-25 04:40] amanpatel1449 commented on #125
@neoassyrian
Thank you for your solution in #101 is work in android 8.0.0.
Now it's work fine.
You are great.

[2018-07-25 04:40] #125 closed

[2018-07-25 06:13] neoassyrian commented on #101
I think you can have your own ones. Check the README file. The files should be in the Resources folder.
I havn't actually done that, and would like to know more.
I would suggest you open a new issue post about it.

[2018-07-25 06:24] aman-gojariya opened #137 "How can I redesign music control?"
Is there any way I can redesign music control in notification tray and lock screen?

[2018-07-25 06:30] amanpatel1449 commented on #131
@sinedied , @cnttech  I have installed it with Cordova 8.0.0 and android 6.3.0.
Can you downgrade your android version and check it?

[2018-07-25 06:35] amanpatel1449 commented on #132
First one remove this plugin with below command
ionic cordova plugin rm cordova-plugin-music-controls

then after add this plugin with this command
ionic cordova plugin add https://github.com/amitkhare/cordova-music-controls-plugin --save

after you do that, remove the "git+" that gets added to the config.xml and package.json files

I think it's works.

[2018-07-25 06:36] sinedied commented on #131
Yes, it seems more related to the `cordova-android` upgrade than the cordova version, I'll rename the issue.

[2018-07-26 19:31] walalm commented on #128
@area809  yep, found the issue, it was actually loading the WebProvider... changed it properly to use the CordovaMediaProvider and now it is working as expected. Thank you

[2018-07-26 19:31] #128 closed

[2018-07-27 19:06] KevRyan2 commented on #109
Has anybody managed to get this working in iOS 11? works perfectly in iOS 10 but for iOS 11 nothing shows up. If you have managed to get this working can you please post your ionic and plugin versions and the implementation code you used? Thank you!

[2018-07-27 21:51] jsdussanc commented on #109
You need user cordova-media
I make you the fa of the packages.
´´´
{
  "name": "latotuga",
  "version": "0.0.1",
  "author": "Inkremental",
  "homepage": "https://www.inkremental.co",
  "private": true,
  "scripts": {
    "clean": "ionic-app-scripts clean",
    "build": "ionic-app-scripts build",
    "lint": "ionic-app-scripts lint",
    "ionic:build": "ionic-app-scripts build",
    "ionic:serve":

[2018-07-29 16:49] KevRyan2 commented on #109
I appreciate the response @jsdussanc, I already am using the media plugin and it works great on iOS 10.  I'm working on figuring out what over-ride is present in iOS 11/12 that prevents this plugin from working as well as it did in iOS 10.

[2018-07-30 08:46] kaiohken1982 commented on #101
Hi everyone,
I have tried both homerours and amitkhare cordova-music-controls-plugin but there is no way to make it works on android 8.0.0 ( tested on HOMTOM S99 ).
Both versions work without problem on android 7.1.2 ( tested on Samsung MEGA with Resurrection Remix )

I tried to force rebuild the apk, rm/add the plugin, also manually :(

What else should I try?

Thanks

[2018-08-01 10:31] AmrAlmagic commented on #101
@kaiohken1982  make sure remove plugin and package
ionic cordova plugin remove <plugin-name>
npm uninstall --save @ionic-native/<npm-name-of-plugin>

then install this repository
  [link](https://github.com/homerours/cordova-music-controls-plugin/issues/101#issuecomment-407389558)

[2018-08-02 14:59] hunterdowns opened #138 "Scrubbing not working"
Maybe I'm doing something wrong but I can't get scrubbing working. Running on iOS 11. Everything else seems to be working (next, prev, pause, play). I've enabled scrubbing in the create parameters and I'm updating with updateElapsed.

When I drag the scrubbing bar on the lockscreen, the UI initially shows correctly as long I hold down my finger but the minute I let go, it returns back to zero seco

[2018-08-02 15:18] hunterdowns commented on #138
Found the problem.  the `duration` field has to be set to the length of the song.

[2018-08-02 15:18] #138 closed

[2018-08-04 10:06] kaiohken1982 commented on #101
Yes, fully remove the plugin with both npm and cordova command did the trick.
After reinstalling ( always with both npm and cordova ) the compiled app works also with android oreo.

Thank you @AmrAlmagic for your advice.

Cheers

[2018-08-23 19:52] NG-tylerholden commented on #133
https://github.com/katzer/cordova-plugin-background-mode/pull/274/files

[2018-08-29 19:43] preterive opened #139 "Not running"
$ cordova plugin add cordova-plugin-music-controls
(node:25011) UnhandledPromiseRejectionWarning: CordovaError: Failed to fetch plugin git+https://github.com/homerours/cordova-music-controls-plugin.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Failed to get absolute path to installed module
    at /us

[2018-08-29 21:50] owen-mills opened #140 "Music control external controls stop working"
The music controls events (like `music-controls-media-button`) stop working once another app is opened that utilizes those controls (like YouTube). For them to work again, the cordova app must be closed and reopened. This should be fixed.

[2018-08-30 01:31] owen-mills commented on #139
Use phonegap or another framework on top of Cordova. Simply using Cordova will not allow you to add most plugins.

[2018-09-01 08:18] preterive commented on #139
but why i have to use phonegap for a cordova plugin?

[2018-09-02 13:33] owen-mills commented on #139
Because Cordova is a piece of crap so they had to design Phonegap on top of it to make it better. You still use Phonegap to get cordova plugins.

[2018-09-08 20:56] #139 closed

[2018-09-19 00:38] shawns582 commented on #128
@area809 @walalm  sorry can one of you tell me how to change the audio provider? I am having the same issue. I am currently using the html5 audio player to play audio in my ionic app, do I need to change to cordova-plugin-media? Or is this just a setting change somewhere? Thanks!

[2018-09-19 22:18] khevamann commented on #133
This plugin doesn't use https://github.com/katzer/cordova-plugin-background-mode though right? or am I supposed to install the plugin?

[2018-09-20 02:45] walalm commented on #128
Change it to use the cordova plugin media

[2018-09-20 03:33] shawns582 commented on #128
Cool thanks, will try that!

On Wed, Sep 19, 2018, 7:45 PM Waldy Almonte <notifications@github.com>
wrote:

[2018-09-26 03:27] NG-tylerholden opened #141 "updateIsPlaying won't work and ios controls continuously pops up as "playing""
updateIsPlaying method does not work. The music controls on ios 11 lock screen continues to pop up as "playing" (with the pause button shown as if the music is still playing). Anyone else encountering this issue?

[2018-10-20 04:02] abnersoares opened #142 "Plugin didn't work on iOS 11.4"
This is my code at the function onDeviceReady:

[code]

On ANDROID works find, but on iOS didn't work. Someone has the solution?

Thank you folks.

![screen shot 2018-10-20 at 1 54 53 pm](https://user-images.githubusercontent.com/8903615/47251052-c1f0a780-d470-11e8-880d-c7b7da3c92a6.png)

[2018-10-25 18:54] sonofgod1 commented on #101
Tank you, so so so ... @riccardoSocialcities @neoassyrian and @AmrAlmagic

[2018-10-29 14:49] paulovargatt commented on #142
same problem, iOS 12

[2018-10-29 15:19] 442623641 commented on #109
Why is the volume so small?there would be a lot of noise when set volume=100？

[2018-10-29 18:22] jsdussanc commented on #109
@442623641
It's an interesting question, but the answer depends more on your purpose of using the app.

Although I do not understand why you mention it in this issue

[2018-11-12 12:15] ramonhenrique commented on #135
Me too.

[2018-11-23 23:29] Shery11 opened #143 "Plugin is not responding to headset buttons. Pause next previous in ionic 3."
I am trying to develop an app where when i press the input volume up button on headphone it handles the event and do something in the app but the headset buttons are not firing any event.

Any idea why is this happening ?

[2018-12-01 03:52] ghenry22 commented on #142
This is working fine for my apps in both iOS 11 and 12.  The most common cause for nothing appearing is if one of the values is null or path to the coverart is not accessible to the plugin.  Give it a try just with some static values and using coverart from a remote HTTP:// server that is known to be accessible from the device.

Also make sure to test on a real device, the emulator is really flake

[2018-12-01 03:53] ghenry22 commented on #135
Works fine with ios12 for me, there is a fix merged into master for android 26 and higher already you can just install the plugin directly from the git repo to get the latest version if it hasn't been published to NPM

[2018-12-01 03:56] ghenry22 commented on #133
The problem with the background mode plugin is that it plays a silent audio file in the background continuously to fake activity and stop suspension of the app even when it's idle.  It may be fixed now but the problem was that the background-mode plugin steals the audio session.

I would recommend giving the ionic-webview plugin a look if you want background processing support as it enables backgr

[2018-12-03 04:40] patrickpaky commented on #88
Facing the same issue of metadata not sending over Bluetooth for Android, but I guess the original target for this plugin does not include showing information over Bluetooth connection.

I've tried @neoassyrian 's fork but still, no information showed on the Bluetooth device (currently I'm making a Bluetooth car audio, showing the track name, artist, album and duration of the song). Maybe I'm usin

[2018-12-03 04:59] neoassyrian commented on #88
What version of Android OS you tested it with?

[2018-12-03 12:40] dupphil commented on #142
Hi @ghenry22

Can you share your code because I have the same issue on 2 differents apps. (one old and one new).
It worked on the new but since iOS12, it does not work.
Thanks,

[2018-12-04 07:38] patrickpaky commented on #88
Also tested on a device with Android 8.1.0, still no information showed on the Bluetooth device. (but those media button event work perfectly.)

[2018-12-04 10:16] patrickpaky commented on #88
Removed and add the Android platform and plugin again, @neoassyrian 's fork work perfectly! A thousand thanks, you really make my day :)
(Even tho I still need to figure out how to send the current play time to the device, the fork provided me a direction of it.)

In addition, some android version may also need this plugin together: https://www.npmjs.com/package/cordova-plugin-android-support-v4-j

[2018-12-06 05:59] rijink7 commented on #142
I have tried it with static values with cover from a remote HTTP:// but still no luck

[2018-12-09 14:13] wunschradio commented on #88
Hello @patrickpaky,

@neoassyrian 's fork worked in my app also perfectly. Now since the new version 2.2.0 I can't get it to run. The build fails:

`\platforms\android\app\src\main\java\com\homerours\musiccontrols\MediaSessionCallback.java:5: error: package android.support.v4.media.session does not exist
import android.support.v4.media.session.MediaSessionCompat;`

I found your comment for the cor

[2018-12-10 10:21] wunschradio commented on #88
@BuddyLReno thank you for your suggestion. I installed the plugin and the AndroidManifest.xml will get changed but unfortunately it still runs into an error:
`Execution failed for task ':transformClassesWithMultidexlistForDebug'.

What I am wondering about is that the new version 2.2.0 also does not work on a fresh install:

I build a new Ionic 3 project and add install cordova-plugin-music-contro

[2018-12-10 13:48] wunschradio commented on #88
Already tried before and just did again with a clean project :(
I get the exact same errors.

[2018-12-11 17:10] wunschradio commented on #88
@patrickpaky Thank you for your response. The v4-plugin was installed later. Sorry for my very long build posts. I don't know how to shrink them into an accordion field here.

I got it running now by using
ionic cordova plugin add cordova-android-support-gradle-release
and ionic cordova platform add android@6.3.0

My gradle version is 5. Maybe this causes the problem? I am trying to downgrade but

[2018-12-18 06:59] ghenry22 commented on #88
I have the forked code from the PR merged on my repo and running without issue.

Android platform 7.1.4 (latest as of writing).
Targeting api 29 (pie)
Add the gradle release plugin, it lets gradle handle conflicts when different plugins request specific versions of support libraries instead of getting the conflicts you are seeing.

If in doubt Cordova clean android then Cordova prepare android, or

[2018-12-26 00:55] ghenry22 commented on #88
Have been testing this on an Android 8 Huawei P20 for the last few weeks as I’ve been driving around and @neoassyrian’s fork is working perfectly displaying metadata over Bluetooth.

Suggest merging his PR in ASAP as this is good functionality for this plugin.

[2018-12-26 00:58] ghenry22 commented on #143
Check the readme, some buttons only fire events on certain operating systems.  iOS doesn’t fire volume events and will only change device volume.  This is an iOS limitation.

Android should fire volume change events.

[2019-01-21 16:50] ArkeshGKalathiya commented on #141
Hi I have kind of solved issue, but I don't have much knowledge of functionality, I have just added patch. Please check it before you use it.

` if(![musicControlsInfo isPlaying]){
 nowPlayingCenter.playbackState = MPMusicPlaybackStatePaused;
  }else{
        nowPlayingCenter.playbackState = MPMusicPlaybackStatePlaying;
    }`

Please add above lines in updateIsPlaying function in musiccontrols.m

[2019-02-05 11:53] johnraftery commented on #129
I also have this problem. Did you fix it?

[2019-02-05 11:55] rowanvi commented on #129
I couldn't fix it in the time schedule I had for doing this job. I don't have any solution but I'm still intrested in how to fix it.

[2019-02-05 12:05] johnraftery commented on #17
What was the solution to this? I am having the same issue

[2019-02-07 14:58] Dzivo opened #145 "Ionic 4 cordova-plugin-music-controls breaks build"
In Ionic 4 this plugin breaks build with message:

error: package android.support.v4.media.session does not exist
import android.support.v4.media.session.MediaSessionCompat;

package.json
[code]

config.xml
[code]

[2019-02-07 15:53] paulovargatt commented on #145
**Same error for version 2.2.0,**

try
remove this plugin

ionic cordova plugin rm cordova-plugin-music-controls
add this plugin

ionic cordova plugin add https://github.com/amitkhare/cordova-music-controls-plugin --save

[2019-02-08 00:17] ghenry22 commented on #145
Or try adding the gradle release plugin.  It works to resolve conflicting support library versions between different plugins at build time.

[2019-02-21 21:00] baalpeteor commented on #17
also having issue. i uninstalled, reinstalled "npm i cordova-plugin-music-controls" from my project folder, it adds it to the project, but in the project i do this:

`
StartJS
MusicControls.create({
    track       : 'The Peoples Station',		// optional, default : ''
    artist      : '927 FM',						// optional, default : ''
    album       : '',     // optional, default: ''
 	  cover       : 'kz.p

[2019-02-23 10:00] DanielTizon commented on #145
I have the same problem. It is working with the old version of cordova-music-controls-plugin

https://github.com/amitkhare/cordova-music-controls-plugin

But doesn't work with the current cordova-music-controls-plugin, with a lot of errors like this:

`error: package android.support.v4.media does not exist
import android.support.v4.media.MediaMetadataCompat;`

[2019-02-26 11:08] nowrap opened #146 "Ionic Webview 2.4.0 removes WKSuspendInBackground"
Hello,
version 2.4.0 removes WKSuspendInBackground:
https://github.com/ionic-team/cordova-plugin-ionic-webview/releases/tag/v2.4.0
https://github.com/ionic-team/cordova-plugin-ionic-webview/pull/310/files

My app retrieves the next track from native storage (sqlite) after finishing a track.
With version 2.4.0 the retrieval doesn't finish anymore.

Does someone have any advises?

Regards
.nowrap

[2019-02-28 13:29] andrewl94 opened #147 "Not being able to include in new projects"
Since yesterday it seems like the registry is broken somehow:

"Failed to restore plugin "cordova-plugin-music-controls" from config.xml. You might need to try adding it again. Error: Failed to fetch plugin git+https://github.com/homerours/cordova-music-controls-plugin.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name

[2019-02-28 16:13] tbergeron commented on #132
@amanpatel1449 WHY does everybody refers to this 3 years old repo when the real one is the most up-to-date?! I see this everywhere, it fixes NOTHING and is just a waste of time. Please EXPLAIN when telling people to simply swap sources. It's borderline a security concern...

[2019-02-28 17:21] tbergeron commented on #145
@paulovargatt
I've seen this repo everywhere, since 2017. Please explain WHY we should use it.
WHY should we switch from this up-to-date repo here to this old fork? WHY should this fix our issue?

Every time I tested this repo, I had random errors like:

[code]

Please instead of repeating what you read on a random board/issue, explain why and how this should resolve our issue. Beware of just tell

[2019-02-28 17:23] tbergeron commented on #145
@DanielTizon to resolve the Android v4 issues, install this plugin here `cordova-plugin-android-support-v4` it fixed them for me. Also make sure your Android Studio/SDK/whatever are all up-to-date. Sometimes I noticed if my libraries were old it caused issues with my builds. Hope it helps!

[2019-02-28 17:23] tbergeron commented on #145
@Dzivo advice here ^^ applies to OP too

[2019-02-28 17:58] paulovargatt commented on #145
@tbergeron I recommended the plugin in question because it was the only one that solved my problem of build in both platforms, for the updated version "homerours" I and many other users receive several errors at the time of the build without recommendations on how to solve ...

[2019-02-28 18:08] NorthFred commented on #145
Many thanks @tbergeron. That indeed solves the plugin addition problems.
For others: note that at the moment the npm registry does not refer to "cordova-music-controls-plugin", so you have to add the plugin via "ionic cordova plugin add https://github.com/homerours/cordova-music-controls-plugin.git"

[2019-02-28 22:54] tbergeron commented on #88
To fixes these Android v4 issues follow this: https://github.com/homerours/cordova-music-controls-plugin/issues/145#issuecomment-468360243

[2019-02-28 23:27] tbergeron opened #148 "Build failed: Task :app:compileDebugJavaWithJavac FAILED"
I'm having issues building the app for Android. FYI: I use Ionic but it shouldn't matter since this is cordova/java-related.

I tried using cordova-android 6.3, 6.4, 7.1 & 8.0 but to no avail. I always get the same build errors. So I'm starting to wonder if there's something wrong with my config. I get this error both on Windows 10 & Mac OS. I have the same config / versions on both setup.

**Here

[2019-03-01 17:50] NorthFred commented on #148
Try adding also plugin "cordova-plugin-android-support-v4-jar" to the project

[2019-03-03 18:41] preterive opened #149 "Run in Background"
Please add a function to use the App with this Plugin: https://github.com/katzer/cordova-plugin-background-mode
without make a second notification.

[2019-03-04 13:50] tbergeron commented on #148
@NorthFred it's already there listed

[code]

I had Android v4 errors prior to this, now it's only these build errors that I don't know about... Any idea?

[2019-03-04 14:05] NorthFred commented on #148
@tbergeron:  The plugin has a slightly different name: "cordova-plugin-android-support-**v4-jar**".
It's a subtle difference :) Please try with that one!

[2019-03-04 14:37] tbergeron commented on #148
Oh I see! I will try! So basically I should replace the one I have with this one? Not keep both right? @NorthFred thanks for the help!

EDIT: After having updated ionic-audio, I now only have these errors: (seems to be gradle-related)

[code]

[2019-03-04 19:41] tbergeron commented on #148
@NorthFred THANKS! With *both* installed it works as expected! (if I remove any of them it stops working)

[2019-03-04 19:46] tbergeron commented on #148
It worked for a few times and now I get the same error DAMN IT

[2019-03-04 20:00] tbergeron commented on #148
I tried removing `cordova-plugin-android-support-v4` to see if it would work without it. It did not. Tried putting it back in and since then I get the same errors as before... :( It worked a few times when I had just added cordova-plugin-android-support-v4-jar... Wonder what is wrong...

[2019-03-04 20:05] tbergeron commented on #148
IMO after reading docs, I guess only one is needed.
The thing I wonder is why it worked and stopped. I read here ionic cordova plugin add cordova-plugin-android-support-v4-jar that I might need to update the .jar file of the plugin with the latest SDK version. But WHY did it worked? Damn this is weird. Hope I can figure it out quick hehe

[2019-03-04 20:08] tbergeron commented on #148
Ok I got it:
I removed all the v4 plugins I had. Made sure everything was cleaned.. package-lock.json, node_modules, plugins, etc. Then I re-installed the -jar one and it started working again!

[2019-03-04 20:08] #148 closed

[2019-03-09 14:03] tobika commented on #148
@tbergeron after following your advice  and adding `android-support-v4-jar` I always get the `:app:transformClassesWithMultidexlistForDebug` error on build
that is also discussed here https://github.com/homerours/cordova-music-controls-plugin/issues/88#issuecomment-445541549

I tried the https://github.com/jwall149/cordova-multidex plugin aswell as the
https://github.com/dpa99c/cordova-android-sup

[2019-03-10 22:53] tobika commented on #148
Just for info: I resolved the problem by not using any of the cordova support libs at all, this has caused the build problems. I opened the project in Android Studio and added the support library via the GUI. I know this is not ideal because I'll have to redo this step when I readd the platform but at least it works now :)

[2019-03-17 18:35] baalpeteor commented on #87
what did you use instead? I need something to put the icons in the tray for a radio stream (to stop and pause). seems no one is fixing bugs, updating this app nomore and is probably dead. I have a message/ticket out on this, another guy as well months earlier and no fix or response

[2019-03-17 18:41] versustune commented on #87
@baalpeteor now i code my apps native

[2019-03-17 18:44] owen-m1 commented on #87
@baalpeteor Use phonegap

[2019-03-23 03:04] rastographics commented on #149
I'm trying to figure out how to do this too...there does not seem to be any plugin yet that can do music controls and and also play in background

[2019-03-23 10:34] paulovargatt commented on #149
I made an implementation when loading a media I enabled the background mode and called the method for music controls ...
[code]

[2019-03-23 13:34] rastographics commented on #149
@paulovargatt it looks like you are using these plugins through ionic native? if so, what version of ionic are you using?

[2019-03-23 14:29] paulovargatt commented on #149
ionic 4.0.2

[2019-03-24 00:01] rastographics commented on #149
Do you get any errors when generating Android production apk? If not,
please what command are you using?

On Sat, Mar 23, 2019, 9:29 AM Paulo Vargatt <notifications@github.com>
wrote:

[2019-03-25 20:05] preterive commented on #149
But this made a second notification, not?

[2019-03-26 09:34] tobika commented on #149
For the cordova-background-plugin you can add a config `silent: true` which disables the notification. But I'm not sure that it keeps working or that the notification from the music controls keep the app alive.

[2019-03-26 10:32] dupphil opened #150 "iOS - Invalid Callback ID"
Dear,

I just created a new app on ionic.
cordova-plugin-music-controls 2.2.0 installed.

Everything works on Android but when I use iOS, I got the error "Invalid Callback ID received by sendPluginResult."

Any idea ?
Thanks
Philippe

[2019-03-29 07:24] ramoncarreras commented on #150
Same problem here.

[2019-04-02 01:56] tbergeron commented on #43
Anyone found a solution yet?

[2019-04-02 01:59] tbergeron commented on #142
Is there anybody at all who has this running on iOS 12?

[2019-04-08 13:04] IllesAprod commented on #150
Same here

[2019-04-10 18:16] IllesAprod commented on #150
@dupphil @ramoncarreras any update on this?

[2019-04-12 08:35] silencio commented on #150
Switching to CDVUIWebViewEngine solved the problem for me.

[2019-04-16 12:57] rastographics commented on #148
@tobika How did you add the support library with the GUI? Not familiar with Android Studio and google is just giving answers from really old versions that aren't applicable...

[2019-04-16 13:05] tobika commented on #148
@rastographics once you are in android studio, right click on `app` then `Open Module Settings` then `Dependencies`

![Screenshot from 2019-04-16 15-02-36](https://user-images.githubusercontent.com/5700305/56211797-fc6e8200-6058-11e9-9ccd-bd84cbdabb73.png)

[2019-04-16 18:34] alloyking commented on #145
I had luck adding this plugin `cordova plugin add cordova-plugin-android-support-v4-jar`
If in the past you have tried to solve this with the non `-jar` version.  It may not have worked.  Which was exactly my issue

[2019-04-16 23:10] rastographics commented on #148
Thank you, this worked for me when no other solutions did.

[2019-04-18 10:08] ghenry22 commented on #149
If you use the notification from this plugin (which gives you remote controls and serves the purpose of having a notification tied to the background task) you can just set silent mode on the background-mode plugin so it doesn't show any notification.

[2019-04-18 10:11] ghenry22 commented on #146
https://github.com/ghenry22/cordova-plugin-ionic-webview-v2

I have a fork of the ionic webview here which has the wksuspendinbackground setting restored.  Just install the plugin directly from the repo URL above and you're back in business.

I am working on a modified background-mode plugin which will work nicely with the official ionic webview and app stores to restore the functionality but in i

[2019-04-28 07:38] preterive commented on #149
This didn't works too.
The music controls plugin is simple too old and still use the old notify and not the startForegroundService methods.

[2019-04-30 15:25] pvandrunen opened #151 "iOS does not work"
I have an ionic v1 and an ionic v4 project, this plugin does not work on either project. I've looked through the backlog of issues but I am unable to get this working consistently.

Maybe my approach is wrong.

I'm using this plugin with html5 audio. Once the audio starts playing I attempt to update the lock screen. Listeners for play/pause don't work. The info doesn't work.  Maybe it's because my

[2019-04-30 15:28] pvandrunen commented on #149
Maybe this is my problem as well? I cannot get this plugin to work on iOS. I have the background mode plugin installed. I have an ionic v1 project that I made several years ago that works, but when I try to build it now the lock screen controls have stopped working.

[2019-05-02 13:04] bergergit commented on #149
This is working for me
I'm using https://github.com/apache/cordova-plugin-media to play music in the background.
Then, I use the callback methods of cordova-music-controls-plugin to play/pause the music. (I'm just playing a single music).
Tested on iOS 12.2

[2019-05-05 17:03] blkd13 commented on #150
If you write this code after initialization, will work.
MusicControls.listen();

[2019-05-06 08:34] a-tesh commented on #149
HI all:

This plugin does not seem run in the background without additional plugins. A lot of people have had success combining this plugin with the Background Mode plugin which I believe may work for anything less than Android 8.

Anything targeting API 26 or higher requires that the plugin runs as a foreground service and as such has a persistent notification icon: [https://developer.android.com

[2019-05-07 12:30] preterive commented on #149
:)
I already extended it, but there are still a few errors. I upload it if I'm done.

[2019-05-12 02:19] huybuidac commented on #151
![image](https://user-images.githubusercontent.com/7322305/57576968-ea84d100-7496-11e9-9126-084245ed6675.png)
Solution =))

[2019-05-12 02:20] huybuidac commented on #150
![image](https://user-images.githubusercontent.com/7322305/57576977-1b650600-7497-11e9-8f15-541a00ab8d4f.png)
It could fix "Invalid Callback ID received by sendPluginResult"

[2019-05-13 06:13] ghenry22 commented on #151
Why would you create the controls 10 times?  What does this solve exactly?

In my experience the HTML5 audio tag doesn't work with this plugin, it will override the audio session with the default info from the browser which will be the URL and will hijack the controls.

Try using the cordova media plugin and you should see it working as expected.  I have been using it on iOS for multiple apps for

[2019-05-13 06:14] ghenry22 commented on #150
UIwebview is deprecated and slow unfortunately.  I wouldn't recommend this despite the multitude of issues wkwebview has it is still better.

[2019-05-13 06:14] ghenry22 commented on #150
Also try this as advised above by @blkd13

[2019-05-13 06:17] ghenry22 commented on #146
@nowrap the option has been added back to the ionic webview now, you could close this and move back to the official ionic webview plugin.

[2019-05-13 15:03] pvandrunen commented on #151
@ghenry22  your comment here has been the MOST helpful! I've been stuck on this for a long time. I have a current app in the wild that I built several years ago that works with HTML5 audio and this plugin and the background mode plugin. I wonder what's changed that this configuration no longer works?

I like the html5 audio because I have a lot more control over the stream, there are many listener

[2019-05-13 15:14] pvandrunen commented on #151
Oh and problem #3, my app is being built for the browser and iOS and android ... blerg. This is going to keep me really busy.

[2019-05-16 13:25] rajneshkis13 commented on #117
I install this but on lock screen it is showing nothing.
Please help me.

[2019-05-18 16:57] madmandrew opened #152 "Music controls don't work"
I’ve been using Cordova plugin music controls and they worked fine up until more recent android updates.

Now it doesn’t show up at all. Doesn’t error or anything just doesn’t show

I’ve played around with it for a while trying all sorts of things the create returns success. calling listen doesn’t cause any errors. I’m just getting nothing

##  Environment

* Plugin version: 2.2.0
* Platform: andr

[2019-05-20 08:25] RomainG06 opened #153 "Ionic - Issue installation"
Issue when use :

cordova plugin add https://github.com/homerours/cordova-music-controls-plugin on my ionic project, the plugin does not install.

Need to use https://github.com/homerours/cordova-music-controls-plugin.git , don't forget to use .git

[2019-05-22 04:58] huybuidac commented on #151
@pvandrunen Everything is resolved if you upgrade ionic-webview plugin to v4.0.1.

[2019-05-27 18:38] menvlad opened #155 "The song is constantly stuck! Need help!"
Hello to all!

Tell me how to fix this bug:
1) Use Music to play a song.
2) Use Media Control to control the song.

When I lock the screen on ios or android, the song is constantly stuck, even during a pause and when playing

Tell me what to do?

[2019-05-31 03:06] madmandrew commented on #145
This is still an issue.  None of the above fixes worked.  I've tried with a fresh empty project and still doesn't work

[2019-06-05 04:23] luizbossoi commented on #155
Just trying to help you, use this plugin instead of Music : https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-media/

Which iOS version are you using?

[2019-06-15 11:51] fdambrosio commented on #145
I have the same problem trying to upgrade to ionic 4

[2019-06-15 17:47] fdambrosio commented on #152
I have the same problem

[2019-06-17 08:04] webbkvalite commented on #149
I think this plugin needs to implement  AVQueuePlayer for it to work in iOS locked mode, if you want continuous GUI updates and playlist support.
See this one for reference: https://www.npmjs.com/package/cordova-plugin-playlist
...which unfortunately doesn't support Ionic4 / cordova 9.

[2019-06-21 13:33] Corrodian commented on #152
Same here.

[2019-08-13 18:37] preterive commented on #149
Simple use this fork: https://github.com/preterive/cordova-music-controls-plugin

[2019-08-13 18:37] #149 closed

[2019-08-13 18:38] preterive commented on #155
for Android simple use this fork: https://github.com/preterive/cordova-music-controls-plugin

[2019-08-20 13:10] javier-gm commented on #143
Hi! I know it's been a while but how did you managed to make it work in Ionic3. I can't get the events from headphones. I only need the main button.

[2019-08-20 13:45] javier-gm commented on #145
Adding this to my project.properties file, solved the problem for me

cordova.system.library.1=com.android.support:support-annotations:27.+
**cordova.system.library.2=com.android.support:support-media-compat:27.+**

[2019-08-20 17:29] Shery11 commented on #143
What do you mean by main button ?

[2019-08-20 18:56] javier-gm commented on #143
Sorry if I explained myself wrong. Headphones usually have 3 buttons: vol+, vol- and the one you use to play/pause. I don't know its name. My app recognize when I plug/unplug the headphones, but none of the buttons.

[2019-08-20 19:49] Shery11 commented on #143
As far as i remember i was actually not able to get the middle button working but was able to get vol+ and vol- button by listening for cordova events

please refer to this [https://cordova.apache.org/docs/en/latest/cordova/events/events.html#volumedownbutton](url)

[2019-08-29 10:39] yoojene opened #157 "Plugin crashes on iOS 13"
After upgrading to iOS 13, the plugin crashes the app as soon as the `MusicControls.create({..` is called.

This happens on device and in the simulator

[code]

[2019-09-07 08:00] shawns582 commented on #111
@hoboman313 did you figure this out?

[2019-09-07 09:18] fdambrosio commented on #157
this is very important!

[2019-09-07 11:37] fdambrosio commented on #148
Thanks you @tobika , it works!!!

[2019-09-07 11:42] fdambrosio commented on #145
thanks @javier-gm  !! it works with Ionic3 + Cordova-Android8 (sdk28) too:

cordova.system.library.1=com.android.support:support-annotations:28.+
cordova.system.library.2=com.android.support:support-media-compat:28.+

[2019-09-14 12:10] Kannan2020 opened #159 "Controls are not firing"
Control are not firing event all the time, it is fairing one or twice after so many time of try

[2019-09-26 21:36] thomassimko commented on #159
+1

[2019-09-27 11:15] NecroMan commented on #157
Any news? Bug still present.

[2019-10-02 16:27] pedrofurtado commented on #157
@homerours Any news? in iOS 13 does not work anymore :cry:

[2019-10-03 11:32] MarcelvanGastel commented on #157
https://github.com/homerours/cordova-music-controls-plugin/pull/158/files/90e3fe8838c3151bd8e51901079eb34740ec87c9

This fixed it for me

[2019-10-05 13:20] tbergeron commented on #43
Is this working for anybody AT ALL?

[2019-10-05 13:21] tbergeron commented on #157
Does this plugin work for anyone AT ALL?
I mean is it possible to have this fully working as intended?
I've been using it for over a year on Android with no issues but never worked on iOS no matter the webview engine I use, etc...

[2019-10-11 05:45] jb280 commented on #157
It has worked for me on both iOS and Android for over a year.  The store/shipping builds still seem to work on iOS 13.  However, I can't build a new working app with Xcode 11, or the Beta Xcode  13.2. I tried MarcelvanGastel's modifications twice, but that seems to cause build issues on my Ionic 3 app:

(node:22770) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): T

[2019-10-11 13:08] NecroMan commented on #157
Still crash for me :(

[2019-10-14 13:52] yoojene commented on #157
Made some updates to the PR, latest commits work for me - tested in iOS 13.1.2

[2019-10-15 02:41] josephlodero opened #160 "musicControl.destroy doesnt close the control in IOS"
does anybody here in-counter this kind of problem?? in android its working fine but in ios its not

[2019-10-16 18:27] jb280 commented on #157
I fixed my build issue. The audio does start playing..then I get:                                                      Playing stream with AVPlayer & default rate
*** Assertion failure in -[MPSkipIntervalCommand addTarget:action:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/MediaPlayer/MobileMusicPlayer-4017.101.15/SDK/MPRemoteCommand.m:134

*** Terminating app due to uncaught exception 'NSIn

[2019-10-20 09:28] cknost commented on #137
Watch my fork: https://github.com/preterive/cordova-music-controls-plugin
There works color changing.

[2019-10-25 12:14] RomainDev25 commented on #157
Hello this issue is fixed in this repo : https://github.com/ghenry22/cordova-music-controls-plugin

[code]

[2019-10-26 09:24] simontribus commented on #159
You have to wait until the control is created:

[code]

[2019-10-27 03:28] jb280 commented on #157
Thank you!! This has the lock screen skip-controls enable now when I set them to be true!  Everything seems to work in my app as before, as it did on the previous version of iOS!

[2019-11-22 13:40] paulovargatt opened #161 "Does not work on iOS;"
I have problems trying to implement this plugin on IOS, all attempts I made were unsuccessful, on android works!

I tried to start this plugin without media, with video, with audio, both situations realize that it is the webview that creates the controls and not the plugin, the next and back controls are always disabled! I can't manipulate these controls created by webview? Or is there a way to re

[2019-11-25 20:20] andreveigaelias commented on #160
same problem

[2020-01-20 04:28] Carlosps commented on #161
Have you figured out any solution?

[2020-01-20 13:22] paulovargatt commented on #161
the plugin works. but when we play something via html "video" or "audio" the webview replaces the notification control, my solution was to reproduce natively through cordova media plugin , for example.

[2020-02-03 11:34] Ekaanth commented on #161
HI,

It works perfectly fine for android but im not able to reproduce the same in IOS13. im getting an error as:

2020-02-03 12:26:40.448833+0100 MyApp[97946:801552] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Unsupported action method signature. Must return MPRemoteCommandHandlerStatus or take a completion handler as the second argument.'

Any idea w

[2020-02-07 14:54] marcorubagotti commented on #161
same problem i think, the control not working on ios. there is a possibility of a new working release?

[2020-02-07 15:05] Ekaanth commented on #161
Hi @marcorubagotti

I was able to solve the issue and I have my own code in my rep, which is a fork of main repo and it works perfectly fine for both android 10 and ios 13. I would suggest you try that plugin.

You can also check my repo :)

Thanks

[2020-02-17 09:03] Ekaanth commented on #145
HI, I got the same issue, so I made a fork and fixed the plugin that works for both IOS 13 and android 10 tested.
you can use my plugin

thank you.

[2020-06-25 06:51] allexiusw commented on #127
I have the same question, how can I implement this in my App, problably the documentation need some examples or you can provide some repositories where the plugin is properly implemented.

[2020-06-25 06:52] allexiusw commented on #127
Do you have examples about the implementation?

[2020-06-25 13:56] imran538 commented on #160
you can use and it will work
	this.musicControls.updateDismissable(true);
		setTimeout(() => {
			this.musicControls.destroy().then((res)=>{

			},(err)=>{

			});
		}, 500);

[2020-06-25 14:03] expmaestro opened #162 "User kill app, notification not."
Hi i use this plugin in Android app now. When user or OS kill app notification does not disappear.

[2020-07-21 05:04] tamsel12 commented on #162
Yes , The same issue also i have faced , Has anyone solved this issue?

[2020-07-29 06:06] JuanAntelo commented on #127
Hi, still need help with this?

[2020-07-29 07:00] cq-osaf-ali commented on #161
can you tell how can i install your version in my project as i did the music-controls using npm and having same error as yours but i can't install with npm . i'm new to this and need some help. should i simply copy paste the files in already installed plugin?

[2020-07-29 10:57] hj0102 commented on #127
Yes

2020년 7월 29일 (수) 오후 3:06, Juan Antelo-Justiniano <notifications@github.com>님이
작성:

[2020-07-30 10:56] Ekaanth commented on #161
As I have said you can use 'cordova pugin add https://github.com/Ekaanth/cordova-music-controls-plugin' this command to add my plugin and if you check in your package.json you should have my repo URL.

[2020-08-06 07:17] cq-osaf-ali commented on #161
ahh thanks

[2020-09-21 16:17] andrewl94 commented on #147
Ignored issue

[2020-09-21 16:17] #147 closed

[2020-12-15 09:40] WASDLauterbach commented on #162
I had the same problem and i've created a small workaround.

`    window.addEventListener('beforeunload', () => {
      this.musicControls.destroy();
    });
`

Just call the EL somewhere in your logic and it will destroy the music control while killing the app.

[2021-01-27 18:46] mike0liveira commented on #127
"YES" 2 yers later LoL And i need the same help, do u make this works, get some exemple?

[2022-03-05 06:04] ShaunBrassell commented on #161
Mine was not showing at all on IOS, only on Android. I was using cordova-media-plugin to play. My fix was to edit the media plugin and add withOptions: 0 to the audio session, then it appeared! ...

AVAudioSession *session = [AVAudioSession sharedInstance];
[session setCategory:AVAudioSessionCategoryPlayback withOptions:0 error:nil];